@import "../common/settings";
@import "../common/variables";
@import "../common/mixins";

.b-acc__title {
  // background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1rem 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 0;
  // border-top: 1px solid $medium-gray;

  > * {
    margin-bottom: 0;
  }
}

.b-acc__item:first-child .b-acc__title {
  border-top: 0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active + .b-acc__content {
  transition: all 0.2s ease-out;
  padding: 0 0 20px 0;

  :last-child {
    margin-bottom: 0 !important;
  }
}

/* Style the accordion panel. Note: hidden by default */
.b-acc__content {
  padding: 0;
  // background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.b-acc {
  .b-acc__item {
    .b-acc__title {
      position: relative;
      border-top-width: 1px;
      border-top-style: solid;
      padding-right: 44px;

      > i {
        display: block;
        position: absolute;
        width: 44px;
        height: 44px;
        right: 0;
        top: 8px;

        &::before,
        &::after {
          transition: all 0.3s ease-out;
          position: absolute;
          content: "";
          background: $body-font-color;
        }

        &::before {
          width: 14px;
          height: 2px;
          left: calc(50% - 7px);
          top: calc(50% - 1px);
        }

        &::after {
          width: 2px;
          height: 14px;
          left: calc(50% - 1px);
          top: calc(50% - 7px);
        }
      }

      &.active > i::after {
        transition: all 0.3s ease-out;
        transform: rotate(90deg);
      }
    }

    &:first-child .b-acc__title {
      border-top-width: 0;
    }

    &:last-child {
      border-bottom-style: solid;
      border-bottom-width: 0;
    }
  }

  // .b-acc {
  .b-acc__itemlight {
    border-color: $light-gray !important;
  }

  .b-acc__title.light {
    border-color: $light-gray !important;
  }

  .b-acc__item,
  .b-acc__title {
    &.medium {
      border-color: $medium-gray !important;
    }
  }

  .b-acc__item.black {
    border-color: black !important;
  }

  .b-acc__title.black {
    border-color: black !important;
  }
}

.b-acc.has-border {
  .b-acc__item {
    &:first-child .b-acc__title {
      border-top-width: 1px;
    }

    &:last-child {
      border-bottom-width: 1px;
    }
  }
}

@include breakpoint(small only) {
  .b-acc {
    margin-left: 0.625rem !important;
    margin-right: 0.625rem !important;
  }
}
