@import "../common/settings";
@import "../common/variables";
@import "../common/mixins";

.slider {
  margin-top: 3.2rem;
  margin-bottom: 2.9rem; //2.2rem;
  padding: 0 0 5px;
  animation: fadein 1.5s;
  // overflow: inherit !important;

  @include breakpoint(small only) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  // Overlay for references
  .item-overlay {
    transition: $global-transition;
    left: 15px;
    width: calc(100% - 30px);
    background-color: $cards-img-hover-color;

    .button {
      max-width: 200px;
      border-color: white;

      &:hover {
        border-color: white;
        opacity: 0.75;
      }
    }

    &.benefits {
      transition: all 1s ease-in-out;
      background-color: rgba(0, 0, 0, 0.6);
      flex-flow: wrap;
      align-content: center;
      justify-content: center;

      > * {
        width: 100%;
      }

      h3 {
        font-size: 32px;
        margin-bottom: 0.2em;
      }

      p {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }

      @include breakpoint(small only) {
        h3 {
          font-size: 19px;
        }

        p {
          font-size: 1rem;
          margin-bottom: 0.5em;
        }

        a.button {
          transform: scale(0.5);
          margin-bottom: 0;
        }
      }

      @include breakpoint(medium only) {
        h3 {
          font-size: 24px;
        }

        p {
          font-size: 18px;
        }
      }
    }

    @include breakpoint(small only) {
      left: 10px;
      width: calc(100% - 20px);

      p {
        font-size: rem-calc(12);
      }
    }

    @include breakpoint(medium only) {
      p {
        font-size: 1rem;
      }
    }
  }

  .slick-current .item-overlay.benefits {
    transition: all 0.5s ease-in-out;
    transition-delay: 250ms;
    opacity: 1;
  }

  .slides {
    overflow: hidden;

    .b-carousel__title {
      position: absolute;
      display: inline-block;
      bottom: 0;
      max-width: 90%;
      font-size: 1.125rem;
      font-weight: 500;
      padding-top: 1em;
      padding-right: 1em;
      background-color: white;
      margin-left: 15px;
      z-index: 12;

      @include breakpoint(small only) {
        margin-left: 10px;
        padding-top: 0.6em;
        padding-right: 0.6em;
        font-size: 0.8rem;
      }
    }
  }

  // .slick-slide > img,
  // .slick-slide > a.hasHover,
  // .slick-slide .b-carousel__title {
  //   width: auto;
  //   padding: 0 15px;
  //
  //   @media only screen and (max-width: 640px) {
  //     padding: 0 10px;
  //   }
  // }

  /** Background-Image Slider */
  &.bg-img {
    .slides {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }

    .slick-list,
    .slick-track,
    .slick-slide {
      @include setBlockHeight($block-small-min-height-small, $block-small-min-height-medium, $block-small-min-height-large, $block-small-min-height-xlarge);
    }

    .slick-slide {
      background-size: cover;
      background-position: 50% 50%;
    }
  }

  .slick-initialized {
    transition: opacity 0.5s ease-out;
    opacity: 1;

    .slick-slide {
      position: relative;
      box-sizing: border-box;
    }
  }

  .slick-slide {
    > img,
    picture > img {
      // .b-carousel__title {
      width: auto;
      padding: 0 15px;

      @media only screen and (max-width: 640px) {
        padding: 0 10px;
      }
    }

    /** If slide has link */
    > a.hasHover {
      width: auto;
      overflow: hidden !important;
      margin: 0 15px;

      @media only screen and (max-width: 640px) {
        margin: 0 10px;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .slick-dots {
    bottom: -2rem;

    @media only screen and (max-width: 640px) {
      bottom: -2.5rem;
    }
  }

  /** Slides with hover */
  .hasHover {
    display: block;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      transition: all 0.28s ease-in;
      width: 100%;
      height: 100% !important;
      top: 0;
      left: -100%;
      opacity: 0;
    }

    &:hover::after {
      transition: all 0.18s ease-out;
      left: 0;
      opacity: 1;
      background-color: $cards-img-hover-color;
    }

    &:hover img {
      transition: all 0.4s ease-out;
      transform: scale(1.05);
    }
  }

  /** Default banner carousel */
  &.band {
    .slides,
    img {
      transition: all 0.4s ease-out;
      display: block;
      height: rem-calc(388);

      @include breakpoint(small only) {
        // height: rem-calc(220);
        height: rem-calc(168);
      }

      @include breakpoint(medium only) {
        // height: rem-calc(388);
        height: rem-calc(290);
      }
    }

    /** Large banner carousel, e.g. product page */
    &.large .slides,
    &.large img {
      display: block;
      height: rem-calc(353);

      @include breakpoint(small only) {
        height: rem-calc(180);
      }

      @include breakpoint(medium only) {
        height: rem-calc(310);
      }

      @include breakpoint(xlarge up) {
        height: rem-calc(458);
      }
    }
  }

  /** Single Slider */
  &.single {
    .slides {
      max-height: 619px;

      .b-carousel__title {
        margin-left: 0;
      }
    }

    .slides,
    img {
      width: 100%;
      max-width: 1280px;
      height: auto;
    }

    .slick-dots {
      @media only screen and (min-width: 1200px) {
        bottom: -2.6rem;
      }
    }

    .slides img {
      padding: 0;

      @include breakpoint(small only) {
        padding: 0 rem-calc(10);
      }
    }
  }

  &.b-carousel--product {
    min-height: 53.515625%;

    .slick-slide {
      position: relative;

      &::before {
        content: "";
        display: block;
        padding-top: calc(53.515625% - 10px);
      }

      img {
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  // Fix selectable bug.
  &.is-admin {
    &::before {
      display: block;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 40px;
      position: absolute;
      z-index: 1;
    }
  }
}

.slider,
.slider-fh {
  // display: flex;

  .slick-prev,
  .slick-next {
    z-index: 1;
    transition: $global-transition;
    width: 60px;
    height: 60px;
    padding: 5px;

    @include breakpoint(small only) {
      display: none !important;
    }
  }

  .slick-prev {
    left: 40px;

    &:hover {
      left: 30px;
    }

    &::before {
      content: "\e90c";
    }
  }

  .slick-next {
    z-index: 1;
    right: 40px;

    &:hover {
      right: 30px;
    }

    &::before {
      content: "\e90a";
    }
  }

  .slick-prev::before,
  .slick-next::before {
    opacity: 1;
    transition: $global-transition;
    font-family: "icomoon", sans-serif;
    font-size: rem-calc(50);
    color: rgba(255, 255, 255, 1);

    @include breakpoint(small only) {
      font-size: rem-calc(30);
    }
  }

  .slick-prev:hover,
  .slick-next:hover {
    transition: $global-transition;
    background-color: rgba(0, 0, 0, 0.4);

    &::before {
      transition: $global-transition;
      color: rgba(255, 255, 255, 1);
    }
  }
}

@media only screen and (max-width: 1240px) {
  .slider-fh {
    .slick-prev,
    .slick-next {
      top: 67%;
    }
  }
}

header + section > .slider {
  margin-top: 0;
}

.slick-slider {
  transition: opacity 1s ease-out;
  opacity: 0;
  display: none;

  &.slick-initialized {
    overflow: inherit !important;
    transition: opacity 1s ease-out;
    opacity: 1;
    display: block;
  }
}

header.c-fh--hero.slick-initialized {
  display: flex;
}

@include breakpoint(small only) {
  div.benefits-header-video {
    padding-bottom: 3rem;
  }
}

