@import "../common/settings";
@import "../common/variables";
@import "../common/mixins";

.b-hero {
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .grid-container {
    display: flex;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include breakpoint(medium) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    @include breakpoint(large) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    &.middle {
      align-items: center;
    }

    &.bottom {
      align-items: flex-end;
    }
  }
}
