@import "../common/settings";
@import "../common/variables";
@import "../common/mixins";

.b-list {
  @include breakpoint(small only) {
    margin-left: rem-calc(10);
    margin-right: rem-calc(10);
  }
}

.b-list__item:not(:last-child) {
  margin-bottom: 2.2rem;

  &::after {
    content: "";
    position: relative;
    width: calc(100% - 30px);
    margin-left: 15px;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(220, 220, 200);

    @include breakpoint(small only) {
      width: calc(100% - 20px);
      margin-left: 10px;
    }
  }
}

.b-list__img {
  overflow: hidden;
  position: relative;

  a {
    overflow: hidden;
  }

  a,
  a::after {
    transition: $global-transition;
    background: 0;
  }

  img {
    transition: all 0.28s ease-in;
    transform: scale(1);
  }

  .hasHover {
    @include cardHoverStyle();

    transition: $global-transition;
  }
}

.b-list__body {
  padding-top: 1rem;

  a {
    transition: $global-transition;
  }

  a h3:hover {
    transition: $global-transition;
    color: $body-font-color;
  }

  p {
    margin-bottom: 0.78rem;
  }

  a.more {
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
