@import "../common/settings";
@import "../common/variables";
@import "../common/mixins";

.c-person__txt-wrapper {
  @include breakpoint(small only) {
    width: 100%;
  }
}

.c-person__img {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    max-width: rem-calc(300);
    text-align: center;
  }

  @include breakpoint(small only) {
    img {
      max-width: rem-calc(180);
    }
  }
}

.c-person__txt {
  display: flex;
  align-items: center;

  h3 {
    margin-bottom: 0.1em;
  }

  h3 + small,
  h3 + p.small {
    display: block;
    margin-bottom: 0.75em;
  }

  small {
    display: inline-block;
    font-size: rem-calc(14);
  }

  p.blockquote {
    border-left: 2px solid $primary-color;
    padding-left: rem-calc(18);
    margin-left: 2px;
    color: $primary-color;
    font-size: rem-calc(18);
    font-weight: 400;
  }

  @include breakpoint(small only) {
    padding-top: 1.5rem;
    text-align: center;

    p.blockquote {
      border-left: 0;
      padding-left: 0;
    }
  }
}

.c-person + .c-person {
  margin-top: 3rem;
}
