@import "../common/settings";
@import "../common/variables";
@import "../common/mixins";

.b-sps .cell {
  display: flex;
  align-items: center;
}

.b-sps__img {
  img {
    width: 100%;
  }

  &.align-top {
    align-items: flex-start;
  }

  &.align-bottom {
    align-items: flex-end;
  }
}

.b-sps__bgimg {
  // position: relative;
  // background-size: cover;
  // background-position: center;
  position: relative;
  overflow: hidden;

  &.bgx-center img {
    left: 50%;

    --alignx: -50%;
  }

  &.bgy-center img {
    top: 50%;

    --aligny: -50%;
  }

  &.bgx-left img {
    right: 100%;
    object-position: left;

    --alignx: 100%;
  }

  &.bgx-right img {
    right: 0%;
    object-position: right;

    --alignx: 0%;
  }

  &.bgy-top img {
    top: 0%;

    --aligny: 0%;
  }

  &.bgy-bottom img {
    bottom: 0%;

    --aligny: 0%;
  }

  img {
    position: absolute;
    // top: 50%;
    // left: 50%;
    transform: translate(var(--alignx), var(--aligny));
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
  }

  @include breakpoint(small only) {
    padding-top: 55%; // 1.8 : 1
  }

  @include breakpoint(medium) {
    min-height: 250px;
  }

  @include breakpoint(large up) {
    min-height: 300px;
  }

  &.mh-md {
    @include breakpoint(medium) {
      min-height: 300px;
    }

    @include breakpoint(large up) {
      min-height: 430px;
    }
  }

  &.mh-lg {
    @include breakpoint(medium) {
      min-height: 430px;
    }

    @include breakpoint(large up) {
      min-height: 600px;
    }
  }

  &.mh-vh {
    @include breakpoint(medium up) {
      min-height: 100vh;
    }
  }
}

.b-sps__cont {
  .b-sps__inner-cont { // right cell
    padding: 1rem rem-calc(15) 1rem 2rem;

    :last-child {
      margin-bottom: 0;
    }

    &.pdd {
      padding: rem-calc(44) rem-calc(36);
    }

    @include breakpoint(medium up) {
      &.no-pdd {
        padding-top: 0;
      }
    }

    @include breakpoint(small only) {
      padding: 1rem rem-calc(10);

      h2 {
        margin-bottom: 0.5rem;
      }

      &.pdd {
        padding: rem-calc(22) rem-calc(18);
      }
    }
  }

  &.offset {
    padding: rem-calc(44) 0;

    @include breakpoint(small only) {
      padding: 0 0 rem-calc(36);
    }

    @include breakpoint(medium only) {
      padding: rem-calc(24) 0;
    }
  }
}

.b-sps > .grid-x {
  .cell[class*="order-1"] {
    justify-content: flex-end;
  }

  .b-sps__inner-cont {
    max-width: #{($global-width / 2)};
  }
}

.b-sps__cont[class*="order-1"] {
  .b-sps__inner-cont:not(.pdd) { // left cell
    padding: 1rem 2rem 1rem rem-calc(15);

    @include breakpoint(small only) {
      padding: 1rem rem-calc(20);
    }
  }

  .b-sps__inner-cont.pdd-2cols {
    padding: rem-calc(44) rem-calc(36) rem-calc(44) 0 !important;
  }

  @include breakpoint(small only) {
    .b-sps__inner-cont.pdd-2cols {
      padding: rem-calc(22) rem-calc(18) rem-calc(22) rem-calc(10) !important;
    }
  }
}

// .bg-sps__cont {
//
// }
