
@import "../common/settings";
@import "../common/variables";
@import "../common/mixins";
@import "~foundation-sites/scss/components/button";

button.tribe-common-c-btn,
.tribe-common-c-btn-border,
.tribe-events-c-ical__link {
  border-radius: rem-calc(22) !important;
}

// .tribe-common-c-btn {
//   background-color: $primary-color !important;
// }

a {
  &.tribe-common-c-btn-border,
  &.tribe-events-c-ical__link,
  &.tribe-events-c-view-selector__list-item-link {
    background: 0 !important;
  }

  &.tribe-common-c-btn-border,
  &.tribe-events-c-ical__link {
    border-radius: rem-calc(22);
  }

  &.tribe-events-c-ical__link {
    border-color: $primary-color;
    color: $primary-color;

    &:hover {
      background-color: $primary-color;
    }
  }
}

.tribe-events-schedule h2 {
  text-transform: inherit;
}

.tribe-common {
  * {
    font-family: $body-font-family !important;
  }

  button,
  button[disabled],
  .tribe-common-c-btn-icon,
  .tribe-common input[disabled] {
    background: 0;
  }
}

.tribe-events {
  .tribe-events-c-ical__link {
    color: $primary-color;

    &:hover,
    &:focus,
    &:active {
      color: $body-font-color;
    }

    &::before {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 1v10m5-5H1' fill='none' fill-rule='evenodd' stroke='%23EE7203' stroke-linecap='square' stroke-width='1.5'/%3E%3C/svg%3E");
    }

    &:hover::before,
    &:focus::before,
    &:active::before {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 1v10m5-5H1' fill='none' fill-rule='evenodd' stroke='%23000000' stroke-linecap='square' stroke-width='1.5'/%3E%3C/svg%3E");
    }
  }

  [class*="ribe-events-c-nav__"] {
    background: 0;
  }
}

#tribe-events-pg-template {
  max-width: inherit;
  margin: inherit;

  @media only screen and (max-width: 768px) {
    padding: 0;

    .tribe-events-event-image img {
      display: block;
      margin: 1rem auto;
      max-width: rem-calc(200);
    }

    .tribe-events-sub-nav li a:hover,
    .tribe-events-sub-nav li a:visited {
      color: $primary-color;
      background: 0;
      padding: 0;
    }
  }
}

body.tribe-events-page-template {
  header.banner,
  header.banner .title-bar {
    box-shadow: $header-box-shadow;
  }
}

.single-tribe_events {
  .tribe-events-event-meta {
    background: $light-gray;
    border: 0;

    &.primary {
      color: $body-font-color !important;
    }

    a {
      background-position: 100% calc(100% + 4px);
    }
  }

  .tribe-events-schedule {
    @media only screen and (max-width: 768px) {
      margin-bottom: 1rem;
    }
  }
}

#tribe-events-content {
  @media only screen and (max-width: 768px) {
    padding: 0 10px;

    a.tribe-events-gmap {
      background: 0;
    }
  }
}

.tribe-events-event-meta address.tribe-events-address,
.tribe-events-list .tribe-events-venue-details {
  font-style: normal;
}

// T3 layout styles
.c-t3-tribe__single-section {
  @include textHeaderFirstSectionPadding();
}

.p-t3-tribe__single-content {
  padding-bottom: 2rem;
}

.single-tribe_events a.tribe-events-gcal,
.single-tribe_events a.tribe-events-gcal:hover,
.single-tribe_events a.tribe-events-ical,
.single-tribe_events a.tribe-events-ical:hover {
  @include button();
}

.tribe-events-cal-links a[class*="tribe-events-"],
.tribe-events-cal-links a[class*="tribe-events-"]:hover {
  margin-right: 1rem;

  @include breakpoint(small only) {
    width: 100%;
    margin-right: 0;
  }
}

h3.tribe-events-calendar-list__event-title {
  a {
    transition: $global-transition;
    color: $primary-color !important;
    background: 0 !important;
    border-bottom: 0 !important;

    &:hover {
      transition: $global-transition;
      color: $body-font-color;
    }
  }
}

.tribe-events-calendar-list__event-description p {
  font-weight: 300 !important;
}

// .tribe-events .tribe-events-c-search__input-control--location .tribe-events-c-search__input:focus {
//   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.682 1.548a5.166 5.166 0 0 0-7.375 0C-3.073 5.984 4.959 15.36 4.994 15.36c.051-.001 8.092-9.35 3.688-13.812zM4.994 2.833c1.27 0 2.301 1.043 2.301 2.331 0 1.287-1.03 2.33-2.301 2.33-1.272 0-2.3-1.043-2.3-2.33 0-1.288 1.028-2.331 2.3-2.331z' fill='%23EE7203' fill-rule='evenodd'/%3E%3C/svg%3E");
// }
