$invers-color: white;
$medium-gray-color: #707070;

.bg--primary {
  background-color: $primary-color;
}

.bg--secondary {
  background-color: $secondary-color;
}

.bg--white {
  background-color: white;
}

.bg--black {
  background-color: $black;
}

.bg--lightgray {
  background-color: $light-gray;
}

.bg--gray {
  background-color: $medium-gray;
}

/** typo color based on background colors */
.bg--primary,
.bg--secondary,
.bg--black {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: $invers-color !important;
  }
}

/** Color classes */
.white {
  color: white !important;
}

:not(button).primary {
  color: $primary-color !important;
}

:not(button).secondary {
  color: $secondary-color !important;
}

.gray {
  color: $medium-gray-color !important;
}

.light-gray {
  color: $light-gray !important;
}

body#tinymce .white {
  color: $body-font-color !important;
}
