.interface-interface-skeleton__sidebar {
  .wp-die-message,
  p {
    font-size: rem-calc(13) !important;
  }
}

.interface-interface-skeleton__editor {
  overflow: auto;
}

ul[class*="b-cards"],
ul[class*="c-list"] {
  box-sizing: border-box;
}

.acf-table > tbody > tr > th,
.acf-table > thead > tr > th {
  font-size: 13px;
}
