body:not([id*="tiny"]) {
  //background-color: $secondary-color;
  background-color: white;
}

main {
  background-color: white;
}

main > header,
main > header .grid-container,
main > header .grid-x,
main > header .cell,
body header .grid-container,
body header .grid-x {
  display: flex;
  position: relative;
  width: 100%;
}

.align-left {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

.align-right {
  justify-content: flex-end;
}

.u-bg--white {
  background-color: transparent;
}

@include breakpoint(small only) {
  // .grid-margin-x > .small-12 {
  //   width: 100%;
  //   padding: 0 10px;
  // }
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
