.l-sec-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.l-sec-bg--repeated {
    background-repeat: repeat;
  }

  &.l-sec-bg--stretched {
    background-size: cover;
  }

  &.l-sec-bg--fixed {
    background-attachment: fixed;
    background-position: 50% 50%;
  }
}

/** Fix z-index for background-image section and overlaying text */
.grid-container {
  position: relative;
  z-index: 2;
}

.has-text-header header + section {
  @include textHeaderFirstSectionPadding();
}

/** Featured Header / Blocks - min heights */
.l-mh {
  @include setBlockHeight($fh-min-height-small, $fh-min-height-medium, $fh-min-height-large, $fh-min-height-xlarge);
}

.l-mh-small {
  @include setBlockHeight($block-small-min-height-small, $block-small-min-height-medium, $block-small-min-height-large, $block-small-min-height-xlarge);
}

.l-mh-vh {
  min-height: 100vh;
}

/** Featured Header small / Divided header */
// .l-mh-div {
//   @include setBlockHeight(220, 220, 300, 370);
// }

/** Featured Header large / Divided header */
// .l-mh-div-large {
//     @include setBlockHeight(220, 300, 430, 500);
// }

.l-pt-1 {
  padding-top: 1rem;
}

// .l-pb-1 {
//   padding-bottom: 1rem !important;
// }

// .l-pb-2 {
//   padding-bottom: 2rem !important;
// }

.l-mbn {
  margin-bottom: 0 !important;
}

/** Margin top and bottom helper for all elements */
.l-mbs {
  margin-bottom: rem-calc($margin-tb-small);
}

.l-mbm {
  margin-bottom: rem-calc($margin-tb-medium);
}

.l-mbl {
  margin-bottom: rem-calc($margin-tb-large);
}

.l-mbxl {
  margin-bottom: rem-calc($margin-tb-xlarge);
}

@include breakpoint(small only) {
  .l-mbs {
    margin-bottom: rem-calc($margin-tb-small-sm);
  }

  .l-mbm {
    margin-bottom: rem-calc($margin-tb-medium-sm);
  }

  .l-mbl {
    margin-bottom: rem-calc($margin-tb-large-sm);
  }

  .l-mbxl {
    margin-bottom: rem-calc($margin-tb-xlarge-sm);
  }
}

@include breakpoint(medium only) {
  .l-mbs {
    margin-bottom: rem-calc($margin-tb-small-md);
  }

  .l-mbm {
    margin-bottom: rem-calc($margin-tb-medium-md);
  }

  .l-mbl {
    margin-bottom: rem-calc($margin-tb-large-md);
  }

  .l-mbxl {
    margin-bottom: rem-calc($margin-tb-xlarge-md);
  }
}

[class*="wp-block-t3-layout-"] {
  margin-bottom: $paragraph-margin-bottom;

  @include breakpoint(small only) {
    margin-left: 0;
    margin-right: 0;
  }
}

.cell > [class*="wp-block-t3-layout-"] {
  margin-left: 0;
  margin-right: 0;
}

.l-p0-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.h-mobp {
  @include setMobilePadding();

  .h-mobp {
    padding-left: 0;
    padding-right: 0;
  }
}

// [class*="l-mb"]:last-child {
//   margin-bottom: 0;
// }
