@mixin setRelAbsElements() {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
  }
}

@mixin animatedLinkStyle($type: "nav", $part: "link", $bottom: 0) {
  @if ($type == "nav") {
    @if ($part == "link") {
      &::after {
        content: "";
        transition: $global-transition;
        position: absolute;
        display: block;
        width: 0;
        height: 2px;
        bottom: rem-calc($bottom);
        background-color: $primary-color;
        left: 13px; // 50%;
      }
    }

    @if ($part == "hover") {
      &::after {
        transition: $global-transition;
        width: calc(100% - 26px); // 50%;
        // left: calc(50% - 25%);
      }
    }
  }
}

@mixin setBlockHeight($small, $medium, $large, $xlarge) {
  @include breakpoint(small) {
    min-height: rem-calc($small);
  }

  @include breakpoint(medium) {
    min-height: rem-calc($medium);
  }

  @include breakpoint(large up) {
    min-height: rem-calc($large);
  }

  @if ($xlarge != 0) {
    @include breakpoint(xlarge up) {
      min-height: rem-calc($xlarge);
    }
  }
}

@mixin cardHoverStyle() {
  display: block;

  img {
    transition: all 0.24s ease-in;
    transform: scale(1);
  }

  &::after {
    content: "";
    position: absolute;
    transition: all 0.24s ease-in;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &:hover::after {
    transition: all 0.24s ease-out;
    //left: 0;
    opacity: 1;
    // background-color: $cards-img-hover-color;
  }

  &.dark:hover::after {
    background-color: $cards-img-hover-color-dark;
  }

  &.dark2:hover::after {
    background-color: $cards-img-hover-color-dark2;
  }

  &:hover img {
    // pointer-events: all;
    transition: all 0.24s ease-out;
    transform: scale(1.05);
  }
}

@mixin textHeaderFirstSectionPadding {
  margin-top: rem-calc(40);

  @include breakpoint(small only) {
    margin-top: rem-calc(20);
  }
}

@mixin setMaxWidth($type: 0) {
  $gutter-small: map-deep-get($grid-column-gutter, "small") / 2 * -1;
  $gutter-medium: map-deep-get($grid-column-gutter, "medium") / 2 * -1;

  margin-left: $gutter-medium;
  margin-right: $gutter-medium;

  @if ($type == 0) {
    @include breakpoint(small only) {
      margin-left: $gutter-small;
      margin-right: $gutter-small;
    }
  }

  @if ($type == 1) {
    @include breakpoint(small only) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@mixin setMobilePadding($type: 0) {
  $gutter-small: map-deep-get($grid-column-gutter, "small") / 2;
  $gutter-medium: map-deep-get($grid-column-gutter, "medium") / 2;

  @if ($type == 1) {
    padding-left: $gutter-medium;
    padding-right: $gutter-medium;
  }

  @include breakpoint(small only) {
    padding-left: $gutter-small;
    padding-right: $gutter-small;
  }
}
