$set-special-header-font-styles: 1;
$set-special-body-font-styles: 1;

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src:
    local(""),
    url("../fonts/roboto-v30-latin-300.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-300.woff") format("woff"),
    url("../fonts/roboto-v30-latin-300.ttf") format("truetype");
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-regular.woff") format("woff"),
    url("../fonts/roboto-v30-latin-regular.ttf") format("truetype");
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
    local(""),
    url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-500.woff") format("woff"),
    url("../fonts/roboto-v30-latin-500.ttf") format("truetype");
}

@if ($set-special-body-font-styles == 1) {
  p,
  li,
  a.b-showhide__link {
    font-size: rem-calc($body-font-size-large);

    @include breakpoint(small only) {
      font-size: rem-calc($body-font-size-small);
    }

    @include breakpoint(medium only) {
      font-size: rem-calc($body-font-size-medium);
    }
  }
}

@if ($set-special-body-font-styles == 1) {
  h1 {
    text-transform: $header-text-transform;
    margin-bottom: $header-margin-bottom;
  }

  h2 {
    margin-bottom: 0.75em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: $header-letter-spacing;
  }
}

h2.h2ash1,
span.h2ash1,
span.pash1,
span.p-as-h1 {
  font-size: rem-calc(map-deep-get($header-styles, large, h1, font-size)) !important;
  text-transform: uppercase;

  @include breakpoint(small only) {
    font-size: rem-calc(map-deep-get($header-styles, small, h1, font-size)) !important;
  }

  @include breakpoint(medium only) {
    font-size: rem-calc(map-deep-get($header-styles, medium, h1, font-size)) !important;
  }
}

h2.h2-as-h3,
span.h2ash3 {
  text-transform: none;
  font-size: rem-calc(map-deep-get($header-styles, large, h3, font-size)) !important;

  @include breakpoint(small only) {
    font-size: rem-calc(map-deep-get($header-styles, small, h3, font-size)) !important;
  }

  @include breakpoint(medium only) {
    font-size: rem-calc(map-deep-get($header-styles, medium, h3, font-size)) !important;
  }
}

span.h3ash4 {
  text-transform: none;
  font-size: rem-calc(map-deep-get($header-styles, large, h4, font-size)) !important;

  @include breakpoint(small only) {
    font-size: rem-calc(map-deep-get($header-styles, small, h4, font-size)) !important;
  }

  @include breakpoint(medium only) {
    font-size: rem-calc(map-deep-get($header-styles, medium, h4, font-size)) !important;
  }
}

h2.h2-text,
span.h2-text {
  margin-bottom: 1rem;
  font-size: rem-calc(30);
  text-transform: none;

  @include breakpoint(small only) {
    font-size: rem-calc(22);
  }

  @include breakpoint(medium only) {
    font-size: rem-calc(26);
  }
}

p,
span {
  &.teaser {
    font-weight: $p-teaser-font-weight;
    font-size: rem-calc($p-teaser-font-size-large);

    @include breakpoint(small only) {
      font-size: rem-calc($p-teaser-font-size-small);
    }

    @include breakpoint(medium only) {
      font-size: rem-calc($p-teaser-font-size-medium);
    }
  }
}

h2,
p,
span {
  &.product-teaser,
  &.h2asteaser {
    // margin-bottom: 1em !important;
    font-weight: 400;
    font-size: rem-calc(32);
    line-height: 1.25em;
    text-transform: none;

    @include breakpoint(small only) {
      font-size: rem-calc(24);
    }

    @include breakpoint(medium only) {
      font-size: rem-calc(28);
    }
  }
}

.uppercase,
span.uppercase {
  text-transform: uppercase;
}

span.pash1,
span.p-as-h1 {
  font-weight: 300;
  line-height: 1.2em;
}

.has-text-align-center,
.text-center {
  text-align: center;
}

p.teaser:last-child {
  margin-bottom: 0.8em !important;
}

p {
  &.date {
    font-weight: 300;
    font-size: rem-calc(14);
    color: rgb(160, 160, 160);
  }

  &.small {
    font-size: rem-calc(16);
  }
}

span.light {
  font-weight: 300;
}
