// /** Colors */
// $foundation-palette: (
//   primary: #ef7203,
//   secondary: #333,
//   success: #3adb76,
//   warning: #ffae00,
//   alert: #cc4b37,
// );
$global-transition: all 0.25s ease-out;

/** Font settings */
$body-font-size-small: 16;
$body-font-size-medium: 18; //19;
$body-font-size-large: 20; //20
$header-text-transform: uppercase;
$header-letter-spacing: 0.03em;
$header-margin-bottom: 1.46em;

/** Header */
$header-height: 106; //110;
$header-height-small: 85; //72;
$brand-height: 46; //40;
$brand-height-small: 42; // 36;
$header-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.06);
$header-bg-color: white;

/** Featured Image / Blocks */
$fh-h1-color: white;
$fh-p-color: white;

$fh-p-teaser-font-size-small: 20;
$fh-p-teaser-font-size-medium: 24;
$fh-p-teaser-font-size-large: 28;
$fh-p-line-height: 1.24em;

$fh-min-height-small: 220; //250
$fh-min-height-medium: 300;
$fh-min-height-large: 430; //370;
$fh-min-height-xlarge: 500; //370;

$block-small-min-height-small: 200;
$block-small-min-height-medium: 310;
$block-small-min-height-large: 380;
$block-small-min-height-xlarge: 430;

/** Teaser and Large formats */
$p-teaser-font-weight: 400; //300; 0 = none
$p-teaser-font-size-small: 19; //19;
$p-teaser-font-size-medium: 20; //22;
$p-teaser-font-size-large: 22; //24;

/** section padding */
$section-padding-top-small: 50;
$section-padding-top-medium: 69; //75;
$section-padding-top-large: 85; //92;

$section-padding-bottom-small: 55; //60;
$section-padding-bottom-medium: 78; //85;
$section-padding-bottom-large: 94; //102;

/** margin top and bottom - layout helper */
$margin-tb-small-sm: 6;
$margin-tb-medium-sm: 10;
$margin-tb-large-sm: 16;
$margin-tb-xlarge-sm: 32;

$margin-tb-small-md: 12;
$margin-tb-medium-md: 16;
$margin-tb-large-md: 24;
$margin-tb-xlarge-md: 48;

$margin-tb-small: 24;
$margin-tb-medium: 36;
$margin-tb-large: 48;
$margin-tb-xlarge: 96;

/** Back-To-Top navigation */
$btt-width: 30;
$btt-height: 30;
$btt-line-height: 30;
$btt-icon-size: 0.5rem;
$btt-icon-color: white;
$btt-bg: rgba(0, 0, 0, 0.4);
$btt-bg-hover: rgba(0, 0, 0, 0.2);
$btt-border-radius: 100%;
$btt-border-style: solid;
$btt-border-width: 0;
$btt-border-color: white;

/** Cards and overlays */
$cards-img-hover-color: rgba(255, 255, 255, 0.35);
$cards-img-hover-color-dark: rgba(0, 0, 0, 0.4);
$cards-img-hover-color-dark2: rgba(0, 0, 0, 0.6);
