/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

// .wp-block-cgb-block-t3-formats  {
//   background: $red;
//   border: 0.2rem solid $black;
//   color: $black;
//   margin: 0 auto;
//   max-width: 740px;
//   padding: 2rem;
// }
