/** @file common.scss - Common styles used across all blocks. */
[class*="wp-block-t3-layout-"] {
	border: 2px solid rgba(255, 0, 0, 0.3);
	border-radius: 4px;
	padding: 10px;
}

.block-editor-block-list__block[data-type*="t3/column"] {
	border: 2px solid rgb(240, 240, 240);
	border-radius: 4px;
	padding: 10px;
}
