/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-t3-showhide-block  {
  border: 2px solid $green;
  padding: 1rem;
  border-radius: 8px;
}

.b-showhide__body {
  display: block;
}
