$footer-h3-color: white;

main + footer {
  background-color: $secondary-color;

  h3 {
    margin-bottom: 0.2rem;
    font-size: 1rem;
    color: $footer-h3-color;
    text-transform: uppercase;
  }

  p {
    font-size: 1rem;
    color: $light-gray;
  }

  a:hover {
    color: $light-gray;
  }

  ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 1.5em;

    li {
      margin-bottom: 0.1rem;
      font-size: 1rem;
    }
  }
}

p.header {
  margin-bottom: 0.3rem;
  text-transform: uppercase;
  font-weight: 400;
}

footer p.large {
  font-size: rem-calc(22);

  @include breakpoint(small only) {
    font-size: rem-calc(19);
  }
}

.footer-logos {
  img {
    max-width: rem-calc(80);
  }
}
