main > header {
  &.c-fh--hero:not(.slider-fh) {
    @include breakpoint(small only) {
      padding: rem-calc(40) 0 rem-calc(50) 0;
    }

    @include breakpoint(medium only) {
      padding: rem-calc(60) 0 rem-calc(75) 0;
    }

    padding: rem-calc(80) 0 rem-calc(100) 0;
  }

  &.c-fh--text {
    @include breakpoint(small only) {
      padding: rem-calc(32) 0 0 0;
    }

    @include breakpoint(medium only) {
      padding: rem-calc(56) 0 0 0;
    }

    padding: rem-calc(72) 0 0 0;
  }
}

.banner .nav {
  @extend .menu;
}

@include breakpoint(large up) {
  header.banner {
    display: flex;
    position: relative;
    z-index: 10;
    width: 100%;
    height: rem-calc($header-height);
    background-color: white;

    .top-bar {
      background: transparent;
      padding: 0;
    }

    .top-bar ul {
      background: transparent;
    }

    .brand img {
      transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
      max-height: rem-calc($brand-height);
    }

    .brand.abs {
      position: absolute;
      z-index: 2;
    }

    &.nav-type--fixed {
      transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
      position: absolute;
    }

    &.is-fixed {
      transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
      position: fixed;
      animation-name: slideInNav;
      animation-duration: 0.8s;
      height: rem-calc($header-height-small);
      padding: 0; //0 0 .5rem 0;
      background-color: white; //$nav-fixed-bg-color;
      box-shadow: $header-box-shadow;

      ul.meta-menu {
        margin: 0;
      }

      .brand img {
        transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
        max-height: rem-calc($brand-height-small);
      }
    }

    &.add-nav-bg {
      transition: all 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
      background-color: white; //$add-nav-bar-bg;
    }
  }

  nav {
    transition: all 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    transform: translateY(0);
    background-color: white; //$top-bar-bg-color;
  }

  main {
    padding-top: rem-calc($header-height);
    background-color: white;
  }
}

.title-bar {
  position: relative;
  display: flex;
  justify-content: space-between;

  .brand img {
    max-height: rem-calc(30);
  }
}

body.has-text-header header.banner {
  box-shadow: $header-box-shadow;
}

.no-js {
  @include breakpoint(medium down) {
    header.banner .top-bar {
      display: none;
    }
  }

  @include breakpoint(large up) {
    .title-bar {
      display: none;
    }
  }
}

/** MMM Mobile Nav Settings */
body {
  > header {
    background-color: $header-bg-color;
    position: relative;
    z-index: 2000;
  }

  #topbar {
    align-items: center;
    padding: 0.5rem 1rem;
  }
}
