
.wp-block-t3-layout-3-column {

	// Each of the t3/column blocks in our InnerBlock component
	.block-editor-block-list__block[data-type="t3/column-4"] {
		display: inline-block;
		width: calc(100% / 3 - 3%) !important;
		vertical-align: top;
		margin: 1%;
	}
}
