
.wp-block-t3-layout-4-column {

	// Each of the t3/column blocks in our InnerBlock component
	.block-editor-block-list__block[data-type="t3/column-3"] {
		display: inline-block;
		width: calc(100% / 4 - 4%) !important;
		vertical-align: top;
		margin: 1%;
	}
}
