@keyframes slideInNav {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fadeIn,
.fadeOut {
  animation-duration: 1s;
}

.fadeIn {
  animation-name: fadein;
}

.fadeOut {
  animation-name: fadeout;
}
