.back-to-top {
  transition: all 0.3s ease-in-out;
  z-index: 500;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: rem-calc($btt-width);
  height: rem-calc($btt-height);
  border: $btt-border-width $btt-border-style $btt-border-color;
  border-radius: $btt-border-radius;
  background: $btt-bg;
  text-align: center;
  opacity: 0;

  @include breakpoint(small only) {
    right: 0.5rem;
  }

  &::before {
    display: inline-block;
    color: $btt-icon-color;
    font-size: $btt-icon-size;
    line-height: rem-calc($btt-line-height);
  }

  &:hover {
    transition: all 0.25s ease-in-out;
    transform: scale(1.2);
    background: $btt-bg-hover;
  }

  &.show {
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
}
