.c-banner {
  height: 1px;
  width: 100%;
  position: absolute;
  overflow: visible;
  top: 20px;

  img {
    width: auto;
    height: rem-calc(110);
  }

  @include breakpoint(medium only) {
    top: 20px;

    img {
      height: rem-calc(160);
    }
  }

  @include breakpoint(large up) {
    top: 40px;

    img {
      height: rem-calc(270);
    }
  }

  a img {
    transition: $global-transition;
  }

  a:hover img {
    transition: $global-transition;
    transform: scale(1.1);
  }

  .grid-container,
  .cell {
    display: inherit;
    height: 1px;
  }

  .cell {
    text-align: right;
  }
}
