.b-blog-catheader,
.b-blog-catlist {
  a {
    background: 0;

    &:hover {
      color: $body-font-color;
    }
  }
}

.b-blog-catheader {
  font-size: rem-calc(20);
  margin-bottom: 0.35em;

  @include breakpoint(small only) {
    font-size: rem-calc(18);
  }
}

.posts-navigation {
  display: flex;
  justify-content: space-between;

  @include setMobilePadding(1);
}

#b-blog-cats {
  @include setMaxWidth(1);
}
