blockquote,
.wp-block-quote {
  margin-bottom: 2em;
  // padding-left: 0;
  // border-left: 0;
  // position: relative;
  //
  // &::before {
  //   position: absolute;
  //   top: 0;
  //   display: block;
  //   content: "";
  //   width: 100%;
  //   max-width: 100px;
  //   border-top: 2px solid $body-font-color;
  // }

  // &::after {
  //   border-top: 2px solid $body-font-color;
  //   bottom: 0;
  // }

  p {
    font-size: rem-calc(30);
    line-height: 1.3em;
    margin-bottom: 1rem;

    @include breakpoint(medium down) {
      font-size: rem-calc(24);
    }
  }

  .wp-block-quote__citation,
  .wp-block-quote cite,
  cite {
    color: $body-font-color;
    font-size: rem-calc(14);
    font-weight: 400;

    &::before {
      content: "" !important;
    }
  }
}
