$breadcrumb-link-color: rgb(160, 160, 160);
$breadcrumb-link-color-hover: $primary-color;

// .c-fh {
p.breadcrumb,
p.breadcrumb a,
p.breadcrumb span, {
  margin-top: -0.45rem;
  font-size: rem-calc(14);
  font-weight: 400;
  color: $breadcrumb-link-color;
}

p.breadcrumb {
  a {
    text-transform: none;

    &:hover {
      color: $breadcrumb-link-color-hover;
    }

    &::after {
      display: none;
    }
  }
}
// }
