[class*="wp-block-button__link"] {
  @include button(false, $button-background, $button-background-hover, white, solid);

  font-weight: 600;
}

.is-style-outline [class*="wp-block-button__link"] {
  @include button(false, $primary-color, white, $primary-color, hollow);

  font-weight: 600;
}

button,
.button {
  font-weight: 500;

  &:focus {
    outline: 0;
  }

  &.primary:hover {
    background-color: $body-font-color;
  }

  &.hollow:hover {
    color: $body-font-color;
    border-color: $body-font-color;
  }
}

.job-upload-btn + label {
  background: none;
  border-color: $primary-color;
  color: $primary-color;

  &:hover {
    background: none;
    border-color: $body-font-color;
    color: $body-font-color;
  }
}

.btn-group {
  .button {
    min-width: rem-calc(230);
    margin: 1rem 0.75rem;

    &:last-child {
      margin-bottom: 1rem !important;
    }
  }

  @include breakpoint(small only) {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .button {
      width: 100%;
      margin: 0 0 1rem;
    }
  }
}

.btn-group-inline {
  .wp-block-button {
    display: inline-block;
  }

  .button {
    border-width: 1px;
  }

  .wp-block-button,
  .button {
    margin: 0 0.5rem 0 0.5rem;
  }

  > .wp-block-button,
  > .button:first-child {
    margin-left: 0;
  }

  > .wp-block-button:last-child,
  > .button:last-child {
    margin-right: 0;
  }

  @include breakpoint(small only) {
    .wp-block-button,
    .wp-block-button__link,
    .button {
      width: 100%;
      margin: 0 0 1rem;
    }
  }
}
