.callout {
  font-weight: 700;
  border: 0;

  &.success {
    padding: 2rem;
    background-color: $primary-color;
    color: white;

    > :last-child {
      margin-bottom: 0 !important;
    }
  }
}
