$button-width: 0.75rem;

.slider,
.c-fh {
  .slick-dots li,
  .slick-dots li button {
    width: $button-width;
    height: $button-width;
  }

  .slick-dots li {
    button::before {
      font-size: $button-width;
      width: $button-width;
      height: $button-width;
      line-height: $button-width;
      color: $dark-gray;
    }

    button:hover::before {
      transition: all 0.25 ease-out;
    }

    &.slick-active button::before {
      color: $primary-color;
    }
  }
}

.c-fh .slick-dots {
  z-index: 1;
  text-align: right;
}

.slick-slider {
  .slick-list {
    opacity: 0;
    position: absolute;
  }

  &.slick-initialized {
    background: none;

    .slick-list {
      opacity: 1;
      position: relative;
      transition: opacity 3s ease-in;
    }
  }

  &.c-fh--vh-full .slick-list,
  &.l-mh-vh .slick-list {
    height: 100%;
  }
}

.slider-fh.c-fh--hero {
  @include breakpoint(medium down) {
    .slick-prev,
    .slick-next {
      display: none !important;
    }
  }
}
