@mixin setRelAbsElements() {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.c-fh {
  h1 {
    margin-bottom: 0.28em;
  }

  h2 {
    margin-bottom: 0.5em;
    color: white;
  }

  p,
  p.teaser {
    color: $fh-p-color;
    line-height: $fh-p-line-height;
    margin-bottom: 0.5em;

    @include breakpoint(small only) {
      font-weight: 400;
    }

    @include breakpoint(medium) {
      font-size: rem-calc($fh-p-teaser-font-size-medium);
    }

    @include breakpoint(large up) {
      font-size: rem-calc($fh-p-teaser-font-size-large);
    }
  }

  a {
    color: $fh-p-color;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    background-image: linear-gradient(white, white);

    // @include breakpoint(small only) {
    //   font-size: rem-calc(18);
    // }

    // &::after {
    //   background-color: white;
    // }

    &:hover {
      color: white;
    }

    &:focus {
      outline: 0;
    }
  }

  &.grid-container {
    @include breakpoint(medium down) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.c-fh--vh-full,
.c-fh.l-mh-vh {
  animation: fadein 1.5s;
}

.c-fh--hero {
  position: relative;
  overflow: hidden;

  img:not(.c-banner__img) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
  }
}

.c-fh--hero,
.c-prod-gallery {
  @include setRelAbsElements();

  position: relative;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center center;

  h1 {
    color: $fh-h1-color;
  }

  // &.lazyload {
  //   opacity: 0;
  // }

  /** Fix for inner content container */
  &.grid-container .grid-container {
    position: relative;
    padding-left: 0;
  }

  /** Styles for featured-image slick carousel and product slider */
  &.slider-fh {
    display: flex;

    .slick-slider {
      height: 100%;
    }

    .slides > .grid-container {
      @include breakpoint(small only) {
        padding-top: rem-calc(40);
        padding-bottom: rem-calc(50);
      }

      @include breakpoint(medium only) {
        padding-top: rem-calc(60);
        padding-bottom: rem-calc(75);
      }

      padding-top: rem-calc(112);
      padding-bottom: rem-calc(120);
    }
  }

  .slick-track {
    height: 100%;
  }

  .slides {
    position: relative;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    opacity: 0;
    overflow: hidden;

    @include breakpoint(small only) {
      .grid-container {
        padding-left: rem-calc(10);
      }
    }
  }

  .slick-dots {
    max-width: calc(#{$global-width} - 30px);

    @include breakpoint(medium up) {
      right: 15px;
    }

    @include breakpoint(xlarge up) {
      right: calc(50% - (#{$global-width} / 2) + 15px);
    }
  }

  &.dots-align-left {
    .slick-dots {
      text-align: left;
    }
  }

  &.dots-align-center {
    .slick-dots {
      text-align: center;
    }
  }

  &.dots-align-right {
    .slick-dots {
      text-align: right;
    }
  }

  @include breakpoint(small only) {
    .slick-dots {
      bottom: rem-calc(30);
      text-align: center;

      li button::before {
        color: white;
        opacity: 1;
      }
    }
  }

  &.no-nav > button,
  &.no-dots > .slick-dots {
    display: none !important;
  }

  &.dots-overlay.slick-dotted.slick-slider {
    margin-bottom: 0;

    .slick-dots {
      bottom: rem-calc(20);

      li:not(.slick-active) button::before {
        color: white;
        opacity: 1;
      }
    }
  }

  &.slick-initialized .slides {
    opacity: 1;
    transition: opacity 1.5s ease-out;
  }
}

.c-fh--text {
  p {
    color: $body-font-color;

    &.topic {
      color: $medium-gray-color;
      font-size: rem-calc(24);

      @include breakpoint(small only) {
        font-size: rem-calc(18);
      }

      @include breakpoint(medium only) {
        font-size: rem-calc(22);
      }
    }

    &.breadcrumb {
      @include breakpoint(small only) {
        font-size: 1rem;
      }
    }
  }

  @include breakpoint(small only) {
    h1 + p.breadcrumb {
      margin-top: rem-calc(6);
      // padding-left: rem-calc(10);
    }
  }
}

.c-fh--mh {
  @include setBlockHeight($fh-min-height-small, $fh-min-height-medium, $fh-min-height-large, 0);
}

// .c-fh--vh-full,
// body.home .c-fh--vh-full,
.c-fh.l-mh-vh {
  height: calc(100vh - #{rem-calc($header-height)});

  @include breakpoint(small only) {
    min-height: rem-calc(400);
    height: calc(30vh);
  }

  @include breakpoint(medium only) {
    min-height: rem-calc(440);
    height: calc(50vh - #{rem-calc($header-height)});
  }
  // @include breakpoint(large up) {
  //   // min-height: rem-calc(480);
  // }
}

/** vh = min vh for fh-height */
// .c-fh--vh,
// body.home .c-fh--vh, {
//   @include breakpoint(small) {
//     min-height: rem-calc(250);
//     height: calc(30vh);
//   }
//
//   @include breakpoint(medium) {
//     min-height: rem-calc(350);
//     height: calc(50vh - #{rem-calc($header-height)});
//   }
//
//   @include breakpoint(large up) {
//     min-height: rem-calc(480);
//     height: calc(65vh - #{rem-calc($header-height)});
//   }
// }

body {
  // &.home .c-fh--vh {
  //   @include breakpoint(large up) {
  //     height: calc(80vh - #{rem-calc($header-height)});
  //   }
  // }

  // @include breakpoint(small only) {
  //   &.has-text-header .c-fh h1 {
  //     margin-bottom: 0;
  //     padding: 0 10px;
  //   }
  // }

  // &.single-product .c-fh--vh {
  //   @include breakpoint(large up) {
  //     min-height: rem-calc(540);
  //   }
  // }
}

// .c-fh__img {
//   position: absolute;
//   top: 0;
//   left: 0;
// }

.c-fh__wrapper {
  :last-child {
    margin-bottom: 0;
  }

  // @include breakpoint(small only) {
  //   padding: 0 rem-calc(10); // Padding fix for mobile
  // }
}

/** Divided fh */
.c-fh--div {
  padding-top: rem-calc(60);

  .c-fh__wrapper {
    display: flex;
    align-items: flex-end;
  }

  p {
    font-size: rem-calc(22);
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    @include breakpoint(medium up) {
      font-size: rem-calc(28);
    }

    @include breakpoint(large up) {
      font-size: rem-calc(36);
    }
  }

  @include breakpoint(small only) {
    padding-bottom: 1.5rem !important;
  }

  @include breakpoint(medium up) {
    padding-bottom: rem-calc(44) !important;
  }

  @include breakpoint(large up) {
    padding-bottom: rem-calc(55) !important;
  }
}
