$fe-side-btn-width-small: 52;
$fe-side-btn-width: 68;
$fe-font-size: 2.5rem;
$fe-font-size-small: 2rem;

.c-fe-side {
  z-index: 19;
  transition: $global-transition;
  position: fixed;
  right: 0;
  bottom: 50%;
  opacity: 0;

  &.show {
    transition: $global-transition;
    opacity: 1;
    bottom: 60%;
  }

  a {
    transition: $global-transition;
    margin: rem-calc(5) 0;
    display: block;
    width: rem-calc($fe-side-btn-width);
    height: rem-calc($fe-side-btn-width);
    border: 1px solid $primary-color;
    background: white;
    line-height: rem-calc($fe-side-btn-width);
    font-size: $fe-font-size;
    color: $primary-color;
    text-align: center;

    &:hover {
      transition: $global-transition;
      background-color: $primary-color;
      color: white;
    }

    @include breakpoint(medium down) {
      width: rem-calc($fe-side-btn-width-small);
      height: rem-calc($fe-side-btn-width-small);
      line-height: rem-calc($fe-side-btn-width-small);
      font-size: $fe-font-size-small;
    }
  }

  // @include breakpoint(small only) {
  //   display: none !important;
  // }
}

a.c-fe-postnav {
  transition: $global-transition;
  opacity: 0;
  z-index: 20;
  position: fixed !important;
  bottom: 50%;
  background-color: rgba(51, 51, 51, 0.2);
  padding: 0 0 0 30px;
  height: 90px;
  color: white;

  .c-fe-postnav__wrapper {
    transition: all 0.3s ease-out;
    width: 1px;
    overflow: hidden;
  }

  span {
    display: inline-block;

    &.title {
      width: 160px;
      margin-right: 10px;
      margin-left: 10px;
    }

    &.img {
      width: 60px;
    }
  }

  img {
    display: inline-block;
    width: 90px;
  }

  .c-fe-postnav__content {
    display: flex;
    align-items: center;
    width: 280px;
    margin-left: 15px;
  }

  &.show {
    transition: $global-transition;
    opacity: 1;
  }

  &:hover {
    background-color: rgba(51, 51, 51, 0.9);

    .c-fe-postnav__wrapper {
      transition: all 0.3s ease-out;
      width: 285px;
    }
  }

  &::after {
    display: none;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  @include breakpoint(small only) {
    display: none !important;
  }
}
