/** Search form */
.search-form {
  @extend .input-group;
}

.search-form label {
  font-weight: normal;
}

.search-form .search-field {
  @extend .input-group-field;
}

.search-form .search-submit {
  @extend .button;
  @extend .secondary;
}

/** WS-Forms */

$border-style: 2px solid $black;

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
  border: 0;
  border-bottom: $border-style;
  background-color: transparent;

  &:focus {
    border-bottom: $border-style;
  }
}

form[id*="ws-form"] {
  label {
    font-weight: 500;
  }

  select {
    padding-left: 0.4rem;
    border-bottom: $border-style;
  }

  [type="submit"],
  [type="submit"]:hover {
    margin: auto;
    color: white;
    margin-top: 1em;

    @media (min-width: 400px) and (max-width: 600px) {
      max-width: rem-calc(250);
    }

    @include breakpoint(medium up) {
      max-width: rem-calc(250);
    }
  }

  .wsf-required-wrapper {
    small {
      display: none;
    }

    &::before {
      content: "*";
      display: inline-block;
      margin-left: 0.2rem;
      position: relative;
      top: -3px;
      // color: red;
      // font-size: rem-calc(20);
    }
  }

  // required (*) fix for select-fields
  [data-type="select"] label[data-init-required] {
    .wsf-required-wrapper {
      display: none;
    }

    > span:first-child::after {
      content: "*";
      display: inline-block;
      margin-left: 0.2rem;
      position: relative;
      top: -3px;
    }
  }

  .c-wsf-btn {
    @include breakpoint(medium up) {
      &.auto {
        width: auto;
        min-width: rem-calc(150);
      }
    }
  }

  .c-wsf-mb {
    margin-bottom: 2.5rem !important;
  }

  .c-wsf-mb--small {
    margin-bottom: 1.5rem !important;
  }

  .c-wsf-label label,
  &.ws-form--tabs .c-wsf-label label {
    font-weight: 500 !important;
    font-size: 1rem !important;
  }

  .c-wsf-p-mb--small p {
    margin-bottom: 1em !important;
  }

  .c-wsf-wrapper-mb {
    margin-bottom: 2rem !important;
  }

  .cell {
    padding: 0 !important;
  }

  input[type="checkbox"],
  input[type="radio"] {
    bottom: auto;
    left: auto;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: auto;
    top: auto;
    width: 20px;

    + label {
      position: relative;
      display: inline-block;
      margin: 0 0 10px;
      padding-left: 32px;
      user-select: none;

      &::before {
        position: absolute;
        content: "";
        z-index: 1;
        transition: $global-transition;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 2px solid $black;
        box-sizing: border-box;
      }
    }
  }

  input[type="radio"] {
    + label {
      &::before,
      &::after {
        border-radius: 100%;
      }

      &::after {
        content: "";
        z-index: 2;
        position: absolute;
        display: none;
        left: 4px;
        top: 4px;
        width: 12px;
        height: 12px;
        border: 0;
        background-color: $black;
      }
    }
  }

  input[type="checkbox"] {
    + label::after {
      content: "";
      z-index: 2;
      position: absolute;
      display: none;
      left: 8px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid $black;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      color: black;
    }
  }

  input[type="radio"]:checked + label {
    &::after {
      display: block;
    }
  }

  input[type="checkbox"]:checked + label {
    &::before {
      background-color: white;
    }

    &::after {
      display: block;
    }
  }

  // Checkboxes with images and title
  input[type="checkbox"] + label > span.title {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.2em;
  }

  legend {
    margin-bottom: 1em;
    font-weight: 500;
  }

  // New form with tabs
  &.ws-form--tabs {
    label {
      font-weight: 400 !important;
    }

    div[data-type="textarea"],
    .c-wsf-fileupload {
      label {
        font-size: 1rem;
        margin-bottom: 0.5em;
        font-weight: 500 !important;
      }
    }

    .c-wsf-fileupload .help-text {
      font-weight: 500 !important;
      margin-bottom: 2em;
    }
  }

  // New form style (simple form)
  .c-wsf-fieldset {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    border: 0 solid;
    border-top: 0;
    background: #fefefe;
    border-radius: 8px;
    padding: 2rem 1.25rem !important;
  }
}

.file-upload-wrapper {
  label {
    width: 100%;
    position: relative;
    z-index: 100;
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: white;

    &:hover {
      border: 1px solid $body-font-color;
      color: $body-font-color;
      background-color: white;
    }
  }

  div[data-html] {
    position: relative;
    height: rem-calc(40);
    background-color: $light-gray;
    line-height: rem-calc(40);
    padding: 0 1rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    span {
      width: 100%;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 100px;
      height: 40px;
      left: -100px;
      background-color: $light-gray;
    }
  }

  @include breakpoint(small only) {
    div[data-html] {
      border-radius: 4px !important;
      margin-bottom: 1rem !important;

      &::before {
        display: none;
      }
    }
  }
}
