$gradient-pos-1: 0%;
$gradient-pos-2: 100%;
$gradient-color-1: rgba(0, 0, 0, 0.16);
$gradient-color-2: rgba(0, 0, 0, 0);
$gradient-color-small: rgba(0, 0, 0, 0.19);

.c-grad-l2r::before {
  background-image: linear-gradient(to right, $gradient-color-1 $gradient-pos-1, $gradient-color-2 $gradient-pos-2);
}

.c-grad-rtl::before {
  background-image: linear-gradient(to left, $gradient-color-1 $gradient-pos-1, $gradient-color-2 $gradient-pos-2);
}

.c-grad-t2b::before {
  background-image: linear-gradient(to bottom, $gradient-color-1 $gradient-pos-1, $gradient-color-2 $gradient-pos-2);
}

.c-grad-b2t::before {
  background-image: linear-gradient(to top, $gradient-color-1 $gradient-pos-1, $gradient-color-2 $gradient-pos-2);
}

[class*="c-grad-"]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;

  @include breakpoint(small only) {
    background-image: none;
    background-color: $gradient-color-small;
  }
}

.slides[class*="c-grad-"] .c-fh__wrapper {
  h1,
  h2,
  p {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.14);
  }
}

header.grid-container [class*="c-grad-"]::before {
  max-width: $global-width;
}
