@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src:
    url("../fonts/icomoon.eot#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.woff2") format("woff2"),
    url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"],
ul[class*="is-style-"] li::before,
.ws-form--tabs .tabs-title::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon", sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lotus::before {
  content: "\e92a";
}

.icon-rocket::before {
  content: "\e92b";
}

.icon-schmutz::before {
  content: "\e92c";
}

.icon-waterresistant::before {
  content: "\e92d";
}

.icon-plus::before {
  content: "\e928";
}

// .icon-plus-light::before {
//   content: "\e929";
// }

.icon-catalog::before {
  content: "\e91b";
}

.icon-calculator::before {
  content: "\e91c";
}

.icon-mail::before {
  content: "\e919";
}

.icon-phone::before {
  content: "\e91a";
}

// .icon-loupe-medium::before {
//   content: "\e917";
// }

// .icon-loupe::before {
//   content: "\e918";
// }

// .icon-file-zip::before {
//   content: "\e90f";
// }
//
// .icon-file-image::before {
//   content: "\e910";
// }
//
// .icon-files::before {
//   content: "\e911";
// }

.icon-document-2::before {
  content: "\e912";
}

// .icon-copy::before {
//   content: "\e913";
// }

// .icon-file-spreadsheet::before {
//   content: "\e914";
// }
//
// .icon-document1::before {
//   content: "\e915";
// }
//
// .icon-file-empty::before {
//   content: "\e916";
// }

.icon-arrow-left-line::before {
  content: "\e90d";
}

.ws-form--tabs .tabs-title::before,
.icon-arrow-right-line::before {
  content: "\e90e";
}

.icon-arrow-right::before {
  content: "\e90a";
}

.icon-arrow-up::before {
  content: "\e90b";
}

.icon-arrow-left::before {
  content: "\e90c";
}

.icon-instagram::before {
  content: "\e900";
}

// .icon-linkedin::before {
//   content: "\e901";
// }

.icon-facebook::before {
  content: "\e926";
}

// .icon-twitter::before {
//   content: "\e927";
// }

// .icon-arrow-right-line-medium::before {
//   content: "\e908";
// }

// .icon-arrow-left-line-medium::before {
//   content: "\e909";
// }

.icon-youtube::before {
  content: "\e902";
}

.icon-environment::before {
  content: "\e903";
}

.icon-numberone::before {
  content: "\e904";
}

.icon-stars::before {
  content: "\e905";
}

.icon-weather::before {
  content: "\e906";
}

.icon-wood::before {
  content: "\e907";
}

.icon-pin::before {
  content: "\e91d";
}

.icon-checkmark::before {
  content: "\e91e";
}

.icon-checkmark-line::before {
  content: "\e91f";
}

.icon-tool::before {
  content: "\e920";
}

.icon-calendar::before {
  content: "\e921";
}

.icon-clock::before {
  content: "\e922";
}

.icon-money::before {
  content: "\e923";
}

.icon-arrow-down::before,
.icon-down-link::after {
  content: "\e924";
}

// .icon-arrow-down-large::before,
// .icon-down-link-large::after {
//   content: "\e925";
// }

// .icon-down-link,
// .icon-down-link-large {
.icon-down-link {
  position: relative;

  // Font fix
  * {
    font-family: $body-font-family;
  }

  &::after {
    transition: $global-transition;
    position: absolute;
    bottom: rem-calc(-16);
    color: $primary-color;
  }

  &:hover::after {
    transition: $global-transition;
    bottom: rem-calc(-26);
    color: $primary-color;
  }
}

/** jobs */
.icon-events::before {
  content: "\e901";
}

.icon-card::before {
  content: "\e908";
}

.icon-setting-wheels::before {
  content: "\e909";
}

.icon-shuttle::before {
  content: "\e90f";
}

.icon-team::before {
  content: "\e910";
}

.icon-glasses::before {
  content: "\e915";
}

.icon-modern-working::before {
  content: "\e916";
}

.icon-self::before {
  content: "\e917";
}

.icon-time-floating::before {
  content: "\e913";
}

.icon-clothing::before {
  content: "\e911";
}

.icon-rocket-2::before {
  content: "\e914";
}
