// @include breakpoint(large up) {
//   nav .mega-wpml-ls-item-de {
//     position: relative;
//
//     > a:hover::after {
//       background: 0;
//     }
//
//     > a:hover::after,
//     > a > .wpml-ls-native,
//     .mega-indicator {
//       display: none;
//     }
//
//     .mega-sub-menu {
//       right: 0;
//       width: 190px;
//     }
//   }
// }
// .c-lang {
//   display: inline-block;
// }
//
// .c-lang__btn {
//   position: relative;
//   display: block;
//   margin-left: 7px;
//   padding-left: 8px;
//   margin-top: -3px;
//   cursor: pointer;
// }
//
// .c-lang__list {
//   transition: opacity 0.25s ease-out;
//   border: 0;
//   width: auto;
//   min-width: rem-calc(180);
//   text-align: left;
//   padding-right: 0;
//   opacity: 0;
//
//   &.is-open {
//     transition: opacity 0.25s ease-out;
//     opacity: 1;
//   }
// }
//
// .c-lang__item {
//   display: block;
//   background: white;
//   padding: 0.3rem 0.5rem;
//   margin: 0;
//
//   a::before {
//     margin-right: 0.5rem;
//   }
// }
//
// [class*="flag-"] {
//   &::before {
//     position: relative;
//     top: 2px;
//     display: inline-block;
//     content: "";
//     width: rem-calc(19);
//     height: rem-calc(14);
//     background-repeat: no-repeat;
//     background-size: cover;
//   }
// }
//
// .flag-at::before {
//   background-image: url("../images/flag-at.svg");
// }
//
// .flag-ch::before {
//   background-image: url("../images/flag-ch.svg");
// }
//
// .flag-de::before {
//   background-image: url("../images/flag-de.svg");
// }
//
// .flag-it::before {
//   background-image: url("../images/flag-it.svg");
// }
//
// .flag-sl::before {
//   background-image: url("../images/flag-si.svg");
// }
//
// @include breakpoint(medium down) {
//   .c-lang {
//     position: relative;
//     left: 0;
//     top: 0;
//   }
// }
