.lg-outer .lg-thumb-item {
  transition: $global-transition !important;
  border-radius: 0 !important;

  &:hover,
  &.active {
    border-color: $primary-color !important;
  }
}

.lg-sub-html {
  opacity: 0;
}
