main {
  a,
  a:hover,
  a:focus,
  a:active {
    transition: 0.3s ease all;
    position: relative;
    text-decoration: none;
    font-weight: 500;
  }

  a:hover {
    transition: 0.3s ease all;
    color: $body-font-color;
  }

  a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 2px !important;
    width: 100%;
    left: 0%;
    background-color: $primary-color;
    transition: 0.2s ease-out all 0.1s;
  }

  a:hover::after {
    bottom: -5px;
    transition: 0.3s ease all;
  }
}

a.more {
  position: relative;
  text-decoration: none;
}

/** Sidebar links (Leeb) */
p.links {
  margin-top: 0;
  margin-bottom: 1rem !important;
}

a.link-block {
  color: $primary-color !important;
  text-decoration: none !important;
}
