$more-link-font-size: 1rem;

main {
  a,
  a:hover,
  a:focus,
  a:active {
    transition: 0.3s ease all;
    position: relative;
    text-decoration: none;
  }

  a {
    background-image: linear-gradient($primary-color, $primary-color);
    background-position: 100% calc(100% + 3px);
    background-repeat: no-repeat;
    background-size: 100% 5px;
  }

  a:hover,
  a:focus {
    transition: 0.3s ease all;
    color: $primary-color;
    background-size: 0 5px;
  }

  // a::after {
  //   content: "";
  //   position: absolute;
  //   bottom: -1px;
  //   height: 2px !important;
  //   width: 100%;
  //   left: 0%;
  //   background-color: $primary-color;
  //   transition: 0.2s ease-out all 0.1s;
  // }

  // a.none::after {
  //   height: 0 !important;
  // }

  a.none {
    background-image: none !important;
  }

  // a:hover::after {
  //   bottom: -5px;
  //   transition: 0.3s ease all;
  // }

  /** Filter styles */
  a.filter-item {
    // margin: 0 0.75em;
    font-size: rem-calc(18);
    background-size: 0 5px;
    background-position: 0 calc(100% + 3px);

    @include breakpoint(medium) {
      font-size: rem-calc(20);
    }

    @include breakpoint(large up) {
      font-size: rem-calc(22);
    }

    // &::after {
    //   display: none;
    // }

    &.active,
    &:hover {
      color: $body-font-color;
      background-size: 100% 5px;

      // &::after {
      //   display: block;
      // }
    }
  }

  /** Links without bottom-line */
  // a.button::after,
  // [class*="wp-block-button__link"]::after,
  // .breadcrumbs a::after,
  // a.filter-item:not(.active)::after,
  // a.b-iconlist__link::after,
  // a.filter-item {
  //   display: none;
  //   //background-image: none;
  // }

  a.button,
  [class*="wp-block-button__link"],
  .breadcrumb a,
  // a.filter-item:not(.active),
  a.b-iconlist__link,
  // a.filter-item,
  a.lock,
  .pagination a {
    background-size: 0;
    // display: none;
    //background-image: none;
  }
}

/** Sidebar links (Leeb) */
p.links {
  margin-bottom: 1rem;
}

p.links + p.h-mt {
  margin-top: 2.5rem;
}

span.link-block,
a.link-block {
  position: relative;
  overflow: hidden;
  display: block;
  min-height: rem-calc(44);
  padding-left: rem-calc(62);
  background-size: 0;

  &::before {
    transition: $global-transition;
    position: absolute;
    left: 0;
    display: flex;
    width: rem-calc(44);
    height: rem-calc(44);
    border: 1px solid $body-font-color;
    border-radius: 100%;
    color: $body-font-color;
    font-size: 24px;
    justify-content: center;
    align-items: center;
  }

  // &::after {
  //   display: none;
  // }

  // &:hover {
  //   font-weight: 300;
  //
  //   &::before {
  //     transition: $global-transition;
  //     color: $body-font-color;
  //     border-color: $body-font-color;
  //   }
  // }

  &.icon-catalog::before {
    font-size: rem-calc(20);
  }

  &.bgimg::before {
    content: "";
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.bgimg.de::before {
    background-image: url("../images/flag-large-de.svg");
  }

  &.bgimg.at::before {
    background-image: url("../images/flag-large-at.svg");
  }

  &.bgimg.ch::before {
    background-image: url("../images/flag-large-ch.svg");
  }

  &.bgimg.it::before {
    background-image: url("../images/flag-large-it.svg");
  }

  &.bgimg.si::before {
    background-image: url("../images/flag-large-si.svg");
  }

  &.bgimg.int::before {
    background-image: url("../images/flag-large-eu.svg");
  }

  span {
    transition: $global-transition;
    display: block;
    font-family: $body-font-family;
    text-align: left;
    line-height: 1.15em;
  }

  .title,
  .title:hover {
    font-size: rem-calc(20);
    font-weight: 500;
    margin: 0.5em 0;
  }

  .descr {
    font-size: rem-calc(14);
    font-weight: 300;
    line-height: 1.3em;
    color: $body-font-color;
  }
}

a.link-block {
  &::before {
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  &:hover {
    font-weight: 300;

    span {
      transition: $global-transition;
      color: $body-font-color;
    }

    &::before {
      transition: $global-transition;
      color: $body-font-color;
      border-color: $body-font-color;
    }
  }
}

a.more {
  background-size: 0;
  font-weight: 500;
  font-size: $more-link-font-size;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px !important;
    width: 100%;
    right: 0%;
    background-color: $primary-color;
    transition: 0.3s ease-out all 0.1s;
  }

  &:hover::after {
    transition: 0.3s ease-out all 0.1s;
    width: 0;
  }
}

a.no-link-style,
a.no-link-style:hover {
  color: $body-font-color;
}

@include breakpoint(medium up) {
  .cell > p.links:first-child {
    margin-top: -0.25em;
  }
}
