.c-list,
.meta-menu {
  list-style: none !important;
  padding-left: 0 !important;
  margin-left: 0;
}

.l-sec--title .breadcrumb + h1 {
  padding-top: 0;
}

.c-list--h {
  li {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}

.c-list--social {
  a {
    font-size: rem-calc(32);
  }
}

.c-list--filter {
  width: 100%;
  text-align: left;
  margin-bottom: 0;
  padding: 0 xy-cell-size(1 of 12) 3rem xy-cell-size(1 of 12) !important;

  li {
    display: inline-block;
    margin: 0.5em 2rem 0.5rem 0;
    text-align: center;
  }

  a,
  a:hover,
  a.active {
    font-weight: 400;
  }

  @include breakpoint(small only) {
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 0 20px 20px 20px !important;
    text-align: left;
  }

  @include breakpoint(medium only) {
    padding: 0 xy-cell-size(1 of 12) 1rem xy-cell-size(1 of 12) !important;
  }
}

ul[class*="is-style-arrows"],
ul[class*="is-style-bullet"],
ul[class*="is-style-alt-rows"], {
  margin-left: 0;
  list-style: none;
}

main {
  .is-style-arrows-small li {
    padding-left: 1.5625rem;

    &::before {
      top: rem-calc(7);
      font-size: rem-calc(14);

      @include breakpoint(medium down) {
        top: rem-calc(5);
      }
    }
  }

  .is-style-arrows-large li {
    padding-left: 2rem;

    &::before {
      top: rem-calc(5);
      font-size: rem-calc(19);

      @include breakpoint(medium down) {
        font-size: rem-calc(17);
        top: rem-calc(4);
      }
    }
  }

  .is-style-alt-rows li {
    margin-bottom: 0 !important;
    padding: 1rem;
    border-top: 1px solid lightgray;

    &:nth-child(2n) {
      background-color: rgb(245, 245, 245);
    }

    &:last-child {
      border-bottom: 1px solid lightgray;
    }
  }

  ul[class*="is-style-bullet"] li {
    min-height: rem-calc(44);
    padding-left: rem-calc(59);
    padding-top: rem-calc(7);
    margin-bottom: 0.75em !important;

    &::before {
      //transition: $global-transition;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      width: rem-calc(44);
      height: rem-calc(44);
      border: 1px solid $primary-color;
      border-radius: 100%;
      color: $primary-color;
      font-size: 20px;
      justify-content: center;
      align-items: center;
    }

    @include breakpoint(small only) {
      min-height: rem-calc(24);
      padding-left: rem-calc(34);
      padding-top: 0;

      &::before {
        width: rem-calc(24);
        height: rem-calc(24);
        font-size: 10px;
      }
    }

    @include breakpoint(medium only) {
      min-height: rem-calc(32);
      padding-left: rem-calc(45);
      padding-top: rem-calc(2);

      &::before {
        width: rem-calc(32);
        height: rem-calc(32);
        font-size: 16px;
      }
    }
  }

  ul[class*="is-style-arrows"] li,
  ul[class*="is-style-bullet-"] li {
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      content: "\E90E";
      font-weight: 700;
    }
  }

  ul[class*="bullet-checkmarks"] li::before {
    content: "\e91f";
  }

  ul:not([class]),
  ul[class*="is-style-"],
  ul[class*="has-style-"] {
    margin-bottom: 2.2rem;

    li {
      margin-bottom: 0.4em;
    }
  }
}

/** Overlapping style fix for filter nav */
.b-has-offset-b + div .c-list--filter {
  margin-top: -4rem;
}

.b-has-offset-b[style*="#F5F5F5"] + div .c-list--filter {
  @include breakpoint(small only) {
    background-color: $light-gray;
    position: relative;

    &::after {
      position: absolute;
      display: block;
      z-index: 10;
      content: "";
      width: 100%;
      height: 2rem;
      left: 0;
      bottom: -2rem;
      background-color: $light-gray;
    }

    & + .b-cards {
      position: relative;
      z-index: 11;
    }
  }
}

p.p-list-btns {
  a {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
