ul[class*="is-style-arrows"],
ul[class*="is-style-bullet"], {
  margin-left: 0 !important;
  list-style: none !important;
}

.is-style-arrows-small li {
  padding-left: 1.5625rem !important;

  &::before {
    top: rem-calc(7);
    font-size: rem-calc(14);

    @include breakpoint(medium down) {
      top: rem-calc(5);
    }
  }
}

.is-style-arrows-large li {
  padding-left: 2rem;

  &::before {
    top: rem-calc(5);
    font-size: rem-calc(19);

    @include breakpoint(medium down) {
      font-size: rem-calc(17);
      top: rem-calc(4);
    }
  }
}

ul[class*="is-style-bullet"] li {
  min-height: rem-calc(44);
  padding-left: rem-calc(59);
  padding-top: rem-calc(7);
  margin-bottom: 0.75em !important;

  &::before {
    //transition: $global-transition;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: rem-calc(44);
    height: rem-calc(44);
    border: 1px solid $primary-color;
    border-radius: 100%;
    color: $primary-color;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

  @include breakpoint(small only) {
    min-height: rem-calc(24);
    padding-left: rem-calc(34);
    padding-top: 0;

    &::before {
      width: rem-calc(24);
      height: rem-calc(24);
      font-size: 10px;
    }
  }

  @include breakpoint(medium only) {
    min-height: rem-calc(32);
    padding-left: rem-calc(45);
    padding-top: rem-calc(2);

    &::before {
      width: rem-calc(32);
      height: rem-calc(32);
      font-size: 16px;
    }
  }
}

ul[class*="is-style-arrows"] li,
ul[class*="is-style-bullet-"] li {
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    content: "\E90E";
    font-weight: 700;
  }
}

ul[class*="bullet-checkmarks"] li::before {
  content: "\e91f";
}

main {
  ul:not([class]),
  ul[class*="is-style-"],
  ul[class*="has-style-"] {
    li {
      margin-bottom: 0.65em !important;
      line-height: 1.47em !important;
    }
  }
}

.acf-block-preview {
  .b-cont-columns ul,
  ul[class*="is-style-"],
  ul[class*="has-style-"] {
    padding-left: 0;

    li {
      margin-bottom: 0.65em !important;
      line-height: 1.47em !important;
    }
  }

  .b-cont-columns ul {
    font-size: rem-calc($body-font-size-large);
    font-weight: 300;
  }
}
