.mega-link-list {
  margin: 0 0 1rem 0;
  padding: 0;
  list-style: none;

  > li {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  a[class*="icon-"] {
    position: relative;
    padding-left: rem-calc(25);
    font-size: rem-calc(14);
    font-weight: 600;

    &::before {
      position: absolute;
      left: 0;
      top: rem-calc(1);
    }
  }

  a:not([class*="icon-"]) {
    font-size: rem-calc(17);
  }

  &.small > li {
    padding-bottom: rem-calc(0.15rem);
  }
}

/** Small Header Nav */
.is-fixed #mega-menu-wrap-primary_navigation #mega-menu-primary_navigation > li > a,
.is-fixed #mega-menu-wrap-primary_navigation #mega-menu-primary_navigation > li.mega-menu-item-has-children > a {
  height: rem-calc(30) !important;
  line-height: rem-calc(30) !important;

  &::after {
    bottom: rem-calc(3) !important;
  }
}

/** Top offset fix when nav is fixed */
.add-nav-bg .mega-fw > .mega-sub-menu {
  top: rem-calc(43) !important;
}

@include breakpoint(large up) {
  #mega-menu-wrap-primary_navigation #mega-menu-primary_navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > li.mega-menu-item {
      > a.mega-menu-link {
        position: relative;
        padding: 0 rem-calc(13);
        font-size: 1rem; //rem-calc(17);
        font-weight: 500;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        height: rem-calc(36) !important;
        line-height: rem-calc(36) !important;

        & > span.mega-indicator::after {
          content: "\e90b";
          transform: rotate(180deg);
          font-family: "icomoon", serif;
          font-size: rem-calc(8);
        }

        @include breakpoint(large up) {
          @include animatedLinkStyle($bottom: 7);
        }
        // &::after {
        //   content: "";
        //   transition: $global-transition;
        //   position: absolute;
        //   display: block;
        //   width: 0;
        //   height: 2px;
        //   bottom: rem-calc(6);
        //   background-color: $primary-color;
        //   left: 50%;
        // }
      }

      > a.mega-menu-link:hover,
      &.mega-current-menu-item > a.mega-menu-link,
      &.mega-current-page-ancestor > a.mega-menu-link {
        @include animatedLinkStyle($part: "hover");

        font-weight: 500;

        // &::after {
        //   transition: $global-transition;
        //   width: 50%;
        //   left: calc(50% - 25%);
        // }
      }

      /** Current Parent Menu Item (Mainnav) */
      // &.mega-menu-current-parent {
      //   > a.mega-menu-link,
      //   > a.mega-menu-link:hover {
      //     @include animatedLinkStyle($bottom: 6);
      //
      //     font-weight: 500;
      //   }
      // }

      &.mega-menu-item-has-children {
        > a.mega-menu-link {
          font-weight: 500;

          // &::after {
          //   transition: $global-transition;
          //   width: calc(100% - 39px); //50%;
          //   left: 13px;
          // }
        }

        > a.mega-menu-link:hover,
        &.mega-toggle-on > a.mega-menu-link,
        &.mega-current-menu-item > a.mega-menu-link,
        &.mega-current-page-ancestor > a.mega-menu-link {
          color: $primary-color;

          &::after {
            transition: $global-transition;
            width: calc(100% - 40px); //50%;
            left: 13px;
          }
        }

        // &.mega-current-menu-item > a.mega-menu-link {
        //   color: $body-font-color;
        // }
      }

      ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
        background-color: white;
        padding: 0 0.825rem;
        font-size: 1rem;
        font-weight: 400;

        &:hover {
          background-color: $light-gray;
        }
      }
    }

    // @include breakpoint(large up) {
    ul.mega-sub-menu {
      box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.25);

      li.mega-menu-item a.mega-menu-link {
        background-color: white;
        padding: 0 0.825rem;
        font-size: 1rem;
        font-weight: 400;

        &:hover {
          background-color: $light-gray;
        }
      }
    }
    // }

    li.mega-menu-flyout li.mega-menu-item a.mega-menu-link > span.mega-indicator::after {
      content: "\e90a";
      font-family: "icomoon", serif;
      font-size: rem-calc(8);
    }

    .mega-menu-tabbed > .mega-sub-menu {
      //text-align: center;

      > li {
        // display: inline-block;
        //max-width: $global-width;
        // // float: none !important;
        // margin: 0 auto;
      }
    }

    .mega-fw {
      > .mega-sub-menu {
        top: rem-calc(52);
        padding-top: rem-calc(34) !important;
        padding-bottom: rem-calc(34) !important;
        // top: 0;
        // width: 100vw !important;
        //background-color: white !important;
        //border-top: 1px solid $light-gray !important;
        // padding: 2rem 0 !important;
        // // max-width: $global-width;
        //
        > .mega-menu-row > .mega-sub-menu {
          // max-width: $global-width;
          // margin: 0 auto;

          a {
            padding: 0.4rem 0;
            font-size: rem-calc(16);
            color: $body-font-color !important;

            &:hover {
              color: $primary-color !important;
            }

            &.is-active {
              color: $primary-color !important;
            }
          }
        }

        // &::before {
        //   display: block;
        //   content: "";
        //   position: absolute;
        //   width: 100vw !important;
        //   background-color: $light-gray;
        //   height: 100%;
        // }

        h4.mega-block-title {
          font-size: rem-calc(19) !important;

          + ul.menu li {
            width: 100%;
          }
        }
      }
    }

    /** Tabbed list item */
    > li.mega-menu-tabbed > ul.mega-sub-menu > li.mega-menu-item.mega-fw-tabbed {
      //margin-top: -10px;

      > a.mega-menu-link {
        font-size: 1rem;
        font-weight: 500;
        background: transparent;
        padding-left: 0;
        text-transform: uppercase;

        &:hover {
          background: transparent;
        }
      }

      > ul.mega-sub-menu {
        padding-top: 44px;
        padding-bottom: 44px;
        box-shadow: none;
        border: 0;

        > .mega-menu-row {
          border-left: 1px solid #ddd;
          padding-left: 1rem;
        }
      }
    }
  }

  .is-fixed #mega-menu-wrap-primary_navigation #mega-menu-primary_navigation .mega-fw > .mega-sub-menu {
    top: rem-calc(46) !important;
  }
}

@include breakpoint(large up) {
  li.mega-fw-wide > ul.mega-sub-menu {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}

/** Mobile MMM-Settings */
// @include breakpoint(medium down) {
//   .template-onepager2 #mega-menu-wrap-primary_navigation #mega-menu-primary_navigation {
//     li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link > span.mega-indicator::after {
//       content: "\E90B" !important;
//       transform: rotate(0) !important;
//     }
//
//     li.mega-menu-item {
//       border-bottom: 2px solid $light-gray !important;
//     }
//
//     a.mega-menu-link {
//       font-size: rem-calc(18) !important;
//       font-weight: 300 !important;
//       text-transform: inherit !important;
//
//       > span.mega-indicator {
//         width: 22px;
//
//         &::after {
//           font-size: 0.65rem !important;
//         }
//       }
//     }
//   }
// }
