@include breakpoint(large up) {
  li[class*="t3_mega_img_txt_widget"] {
    p {
      color: $body-font-color;
      font-size: rem-calc(16);
      font-weight: 300;

      &.title {
        transition: $global-transition;
        margin-bottom: 0.3em !important;
        color: $body-font-color;
        font-size: rem-calc(17);
        font-weight: 500;
        line-height: 1.2em;
      }
    }

    .mega-wgt-wrapper {
      display: flex;

      &.img-large {
        display: block;
      }
    }

    .mega-wgt-img {
      min-width: 146px;
      max-width: 146px;
      padding-right: 1.2rem;
    }

    .mega-wgt-cont {
      :last-child {
        margin-bottom: 0;
      }
    }

    .mega-wgt-img-large {
      .mega-wgt-cont {
        padding-top: 1rem;
      }
    }

    .mega-wgt-highlight {
      display: block;
      z-index: 1;
      border-left: 1px solid #ddd;
      padding-left: 2rem !important;

      span {
        display: block;
        margin-bottom: 0.5em;
        line-height: 1.2em;
      }

      img {
        margin-bottom: 1rem;
      }

      p {
        transition: $global-transition;
        margin-bottom: 0.1em;
      }

      &:hover {
        p {
          transition: $global-transition;
          color: $primary-color;
        }
      }

      a.more {
        color: $primary-color;
        font-size: rem-calc(12);
        font-weight: 500;
        text-transform: uppercase;
        position: relative;

        &::before {
          transition: $global-transition;
          position: absolute;
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background-color: $primary-color;
          bottom: -2px;
        }

        &:hover::before {
          transition: $global-transition;
          width: 100%;
        }
      }
    }

    a:hover .mega-wgt-cont p,
    a.is-active .mega-wgt-cont p {
      transition: $global-transition;
      color: $primary-color;
    }
  }

  li[class*="t3_mega_img_txt_widget"],
  .mega-fw-tabbed li[class*="widget_text"] {
    padding-top: 0 !important;
    padding-bottom: rem-calc(24) !important;
  }

  .mega-fw-tabbed li[class*="widget_text"] {
    a {
      transition: $global-transition;
      color: $body-font-color;

      &:hover {
        transition: $global-transition;
        color: $primary-color;
      }
    }
  }
}

// @include breakpoint(small only) {
//   .template-onepager2 #mega-menu-wrap-primary_navigation #mega-menu-primary_navigation {
//     // li[class*="t3_mega_img_txt_widget"],
//     // .mega-fw-tabbed li[class*="widget_text"] {
//     // a.mega-wgt-img-large,
//     // a.mega-wgt-wrapper,
//     // a.mega-menu-link {
//     //   min-height: 44px;
//     //   line-height: 1.3rem;
//     //   padding: 10px 1rem 10px 2rem;
//     //   color: $body-font-color;
//     //   border-top: 1px solid white;
//     // }
//     //
//     // p.title {
//     //   margin-bottom: 0;
//     // }
//     //
//     // .mega-fw-tabbed {
//     //   a.mega-wgt-img-large,
//     //   a.mega-wgt-wrapper,
//     //   a.mega-menu-link {
//     //     padding: 10px 1rem 10px 3rem;
//     //   }
//     // }
//   }
//
//   // .mega-fw-tabbed li[class*="t3_mega_img_txt_widget"],
//   // .mega-fw-tabbed li[class*="widget_text"] {
//   //   a:not(.icon-arrow-right-line) {
//   //     padding: 10px 1rem 10px 3rem;
//   //   }
//   // }
// }
