.meta-menu {
  margin: 7px 0 1px 0; //14px 0 1px 0;
  background-color: transparent;

  li {
    display: inline-block;
    padding: 0 0.5rem;

    &:last-child {
      padding-right: 0;
    }
  }
}

.meta-menu a {
  font-weight: 300;
  letter-spacing: 0.02em;
}

.c-lang a {
  font-weight: 400;
  letter-spacing: 0.05em;
}

.meta-menu,
.c-lang {
  a {
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  a:not(:hover) {
    color: $body-font-color;
  }
}

.off-canvas .accordion-menu {
  ul {
    list-style: none;
    margin-left: 0;
  }

  a {
    transition: $global-transition;
    color: $body-font-color;
    font-size: rem-calc(19);
  }

  > li {
    border-bottom: 2px solid $light-gray;

    > ul > li {
      > a {
        padding-left: 2.1rem;
      }

      > ul > li > a {
        padding-left: 4.2rem;
      }
    }
  }

  a:focus {
    outline: 0;
  }

  .active > a {
    font-weight: 500;
    color: $body-font-color;
    background-color: white;
  }

  a:hover,
  .active > a:hover {
    transition: $global-transition;
    background-color: $light-gray;
  }
}

.submenu-toggle {
  &::after {
    border: 0;
    width: rem-calc(8);
    height: rem-calc(8);
    content: "\e90b";
    transform: rotate(180deg);
    font-family: "icomoon", serif;
    font-size: rem-calc(8);
  }

  &[aria-expanded="true"]::after {
    transform: rotate(0deg);
  }
}

@include breakpoint(medium down) {
  .meta-menu {
    display: none;
  }
}
