.c-searchform {
  display: flex;
  background-color: $light-gray;
  padding: rem-calc(20);
  border-radius: rem-calc(10);

  input {
    margin-bottom: 0;
  }

  span,
  input {
    font-size: rem-calc(18);
  }

  span {
    display: inline-block;
    margin-right: rem-calc(20);
    white-space: nowrap;
    font-weight: 500;
    line-height: rem-calc(40);
  }

  input[type="text"] {
    margin-right: rem-calc(20);
    padding-left: rem-calc(10);
    height: rem-calc(40);
    line-height: rem-calc(40);
    background: white;
  }
}
