.ws-form--tabs {
  .tabs {
    margin-bottom: 2em;
  }

  .tabs-content {
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  }

  .tabs-title {
    position: relative;
    padding-right: rem-calc(40);

    &:hover:not(.is-active) > a {
      border-color: black;
      color: black;
    }

    &::before {
      position: absolute;
      right: 12px;
      top: 16px;
    }

    &:last-child {
      padding-right: 0;

      &::before {
        display: none;
      }
    }

    > a {
      width: rem-calc(50);
      height: rem-calc(50);
      padding: 0;
      background-image: none;
      border-radius: 100%;
      background-color: $light-gray;
      border: 2px solid $primary-color;
      text-align: center;
      font-size: rem-calc(24);
      font-weight: 600;
      line-height: rem-calc(47);

      &[aria-selected=true],
      &.is-active {
        background-color: $primary-color;
        color: white;
      }
    }

    &.wsf-tab-disabled > a {
      border-color: #cacaca;
    }
  }

  .button {
    &.next {
      &:hover {
        background-color: lighten($secondary-color, 20);
      }
    }

    &.prev {
      &:hover {
        border-color: lighten($secondary-color, 20);
        color: lighten($secondary-color, 20);
      }
    }
  }
}
