.video-container {
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .rll-youtube-player {
    position: absolute;
    width: 100%;
    top: 0;
  }
}
