.editor-styles-wrapper {
  h1,
  span.h2ash1 {
    @include breakpoint(small only) {
      font-size: rem-calc(map-deep-get($header-styles, small, h1, font-size)) !important;
    }

    font-size: rem-calc(map-deep-get($header-styles, medium, h1, font-size)) !important;
    text-transform: $header-text-transform;
    margin-bottom: $header-margin-bottom;
  }

  h2 {
    @include breakpoint(small only) {
      font-size: rem-calc(map-deep-get($header-styles, small, h2, font-size)) !important;
    }

    font-size: rem-calc(map-deep-get($header-styles, medium, h2, font-size)) !important;
    //text-transform: $header-text-transform;
    margin-bottom: 0.75em;
  }

  h3 {
    @include breakpoint(small only) {
      font-size: rem-calc(map-deep-get($header-styles, small, h3, font-size)) !important;
    }

    font-size: rem-calc(map-deep-get($header-styles, medium, h3, font-size)) !important;
  }

  h4 {
    @include breakpoint(small only) {
      font-size: rem-calc(map-deep-get($header-styles, small, h4, font-size)) !important;
    }

    font-size: rem-calc(map-deep-get($header-styles, medium, h4, font-size)) !important;
  }

  h5 {
    @include breakpoint(small only) {
      font-size: rem-calc(map-deep-get($header-styles, small, h5, font-size)) !important;
    }

    font-size: rem-calc(map-deep-get($header-styles, medium, h5, font-size)) !important;
  }

  h6 {
    @include breakpoint(small only) {
      font-size: rem-calc(map-deep-get($header-styles, small, h6, font-size)) !important;
    }

    font-size: rem-calc(map-deep-get($header-styles, medium, h6, font-size)) !important;
  }

  p:not(.description) {
    @include breakpoint(small only) {
      font-size: rem-calc($body-font-size-small) !important;
    }

    @include breakpoint(medium only) {
      font-size: rem-calc($body-font-size-medium) !important;
    }

    @include breakpoint(large up) {
      font-size: rem-calc($body-font-size-large) !important;
    }

    font-weight: 300 !important;
    line-height: $paragraph-lineheight !important;
    margin-bottom: $paragraph-margin-bottom !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $header-font-weight !important;
    letter-spacing: $header-letter-spacing !important;
    line-height: $header-lineheight !important;
    margin-bottom: $header-margin-bottom !important;
  }

  strong,
  b {
    font-weight: $global-weight-bold !important;
  }

  .c-fh {
    h1 {
      color: $fh-h1-color !important;
    }

    p,
    p.teaser {
      color: $fh-p-color !important;
      line-height: $fh-p-line-height !important;

      @include breakpoint(small) {
        font-size: rem-calc($fh-p-teaser-font-size-small) !important;
      }

      @include breakpoint(medium) {
        font-size: rem-calc($fh-p-teaser-font-size-medium) !important;
      }

      @include breakpoint(large up) {
        font-size: rem-calc($fh-p-teaser-font-size-large) !important;
      }
    }
  }

  .uppercase,
  span.uppercase {
    text-transform: uppercase;
  }

  header.c-fh.c-fh--div + section.c-fh {
    h1 {
      color: black !important;
    }
  }
}

/** content-column-block fix */
.grid-x > .block-editor-inner-blocks {
  width: 100% !important;
}

/** ACF fixes */
.acf-block-component .acf-block-fields p {
  font-size: 13px !important;
  line-height: 1.5 !important;
}
