[class*="wp-block-button__link"],
.acf-block-preview .button {
  margin: 0 0 1rem 0 !important;
  padding: 0.625rem 1em !important;
  border: 0 !important;
  border-radius: 50px !important;
  background-color: $primary-color !important;
  font-size: rem-calc(17) !important;
  line-height: $global-lineheight !important;
  color: white !important;
  font-weight: 600 !important;
}

.is-style-outline [class*="wp-block-button__link"],
.block-editor-block-list__layout button.hollow,
.button.hollow {
  border: 1px solid $primary-color !important;
  background-color: white !important;
  color: $primary-color !important;
}
