$cards-offset-body-margin-top-small: -42;
$cards-offset-body-margin-top-medium: -44;
$cards-offset-body-margin-top-large: -46;

$cards-margin-bottom-small: 1.8rem;
$cards-margin-bottom-medium: 2.5rem;
$cards-topics-margin-bottom: 3em;

/** Standard Title */
$cards-title-display: inline-block; // 0
$cards-title-background: 0; //white; // 0
$cards-title-padding: 0; //1em 1.2em 0 0; // 0
$cards-title-font-size-small: 22;
$cards-title-font-size-medium: 23;
$cards-title-font-size-large: 24;
$cards-title-font-margin-bottom: 0.6em; // 1em

.b-cards {
  width: 100%;

  li {
    padding-left: 0 !important;
  }

  img {
    width: 100%;
  }

  /** Image galleries with caption */
  .caption {
    margin-top: 0.4rem;

    b,
    p {
      font-size: 1rem;

      @include breakpoint(small only) {
        font-size: rem-calc(14);
      }
    }

    b {
      display: block;
      margin: 0.5rem 0 0.2rem 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }
}

.item-overlay {
  transition: $global-transition;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem-calc(20);
  color: white;
  opacity: 0;

  &:not(.benefits):hover {
    transition: $global-transition;
    opacity: 1;
  }

  p {
    font-size: rem-calc(20);
    font-weight: 500;

    @include breakpoint(small only) {
      font-size: rem-calc(16);
    }

    @include breakpoint(medium only) {
      font-size: rem-calc(12);
    }
  }
}

.b-cards__badge {
  position: absolute;
  z-index: 9999;
  bottom: 0;
  background: $primary-color;
  padding: 0.5rem 0.75rem;
  font-size: rem-calc(15);
  font-weight: 700;
  color: white;
}

.b-cards__item {
  overflow: hidden;

  @if ($cards-margin-bottom-medium != 0) {
    margin-bottom: $cards-margin-bottom-medium !important;
  }

  @include breakpoint(small only) {
    margin-bottom: $cards-margin-bottom-small !important;
  }
}

.b-cards__title {
  margin-right: 1.5rem;

  @if ($cards-title-display != 0) {
    display: $cards-title-display;
  }

  @if ($cards-title-padding != 0) {
    padding: $cards-title-padding;
  }

  @if ($cards-title-background != 0) {
    background: $cards-title-background;
  }

  // @if ($cards-title-font-size-large != 0) {
  //   font-size: rem-calc($cards-title-font-size-large);
  // }
}

a.b-cards__title h3 {
  color: $body-font-color;
}

@if ($cards-title-font-size-large != 0) {
  .b-cards__title,
  .b-cards__title h3 {
    @if ($cards-title-font-size-small != 0) {
      @include breakpoint(small only) {
        font-size: rem-calc($cards-title-font-size-small);
      }
    }

    @if ($cards-title-font-size-medium != 0) {
      @include breakpoint(medium only) {
        font-size: rem-calc($cards-title-font-size-medium);
      }
    }

    font-size: rem-calc($cards-title-font-size-large);
  }
}

.b-cards__img {
  transition: all 0.28s ease-in;
  transform: scale(1);
}

.b-cards__body {
  // pointer-events: none;
  position: relative;

  h2,
  h3 {
    margin-bottom: 0.8rem;
  }

  p {
    margin-bottom: 0.6em;
  }

  // > a:not(.more)::after {
  //   display: none;
  // }

  > a:not(.more) {
    background-size: 0;
  }

  > *:not(a):last-child {
    margin-bottom: 0 !important;
  }
}

.b-cards__header {
  overflow: hidden;
  position: relative;

  .hasHover {
    @include cardHoverStyle();
    // display: block;
    //
    // &::after {
    //   content: "";
    //   position: absolute;
    //   transition: all 0.28s ease-in;
    //   width: 100%;
    //   height: 100% !important;
    //   top: 0;
    //   left: -100%;
    //   opacity: 0;
    // }
    //
    // &:hover::after {
    //   transition: all 0.18s ease-out;
    //   left: 0;
    //   opacity: 1;
    //   background-color: $cards-img-hover-color;
    // }
    //
    // &:hover .b-cards__img {
    //   // pointer-events: all;
    //   transition: all 0.4s ease-out;
    //   transform: scale(1.05);
    // }
  }

  a {
    display: block;
    text-decoration: none;
    background-size: 0;

    @include breakpoint(small only) {
      &::after {
        left: 0;
      }
    }
  }
}

.b-cards--small {
  .b-cards__body p {
    font-size: rem-calc(20);

    @include breakpoint(small only) {
      font-size: 1rem;
    }
  }
}

.b-cards--std {
  .b-cards__item > a {
    display: block;
    text-decoration: none;
    color: $body-font-color;
    background-size: 0;

    // &::after {
    //   display: none;
    // }

    .b-cards__header > div {
      display: block;
      position: relative;
      text-decoration: none;

      &::after {
        position: absolute;
        content: "";
        transition: all 0.24s ease-in;
        width: 100%;
        height: 100% !important;
        top: 0;
        left: 0;
        opacity: 0;
        // background-color: $cards-img-hover-color;
      }

      img {
        transition: all 0.24s ease-out;
        transform: scale(1);
      }

      // @include breakpoint(small only) {
      //   &::after {
      //     left: 0;
      //   }
      // }
    }

    &:hover .b-cards__header .b-cards__img img {
      // pointer-events: all;
      transition: all 0.24s ease-out;
      transform: scale(1.05);
    }

    &:hover .b-cards__header > div::after {
      transition: all 0.24s ease-out;
      opacity: 1;
    }
  }

  .b-cards__body {
    // margin-top: 0;

    h3 {
      // font-size: rem-calc(24);
      padding-top: 0.9em;
      margin-bottom: 0.15em;
      margin-right: 0;
    }

    p {
      font-weight: 300;
    }

    @include breakpoint(small only) {
      h3 {
        // font-size: rem-calc(24);
        padding-top: 0.8em;
      }
    }
  }
}

.b-cards--offset {
  .b-cards__header {
    // position: relative;
    //
    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 0.3rem;
    //   background-color: white;
    //   left: 0;
    //   bottom: 0;
    // }
  }

  .b-cards__body {
    margin-top: rem-calc($cards-offset-body-margin-top-large);

    // @if ($cards-body-margin-top-small != 0) {
    @include breakpoint(small only) {
      margin-top: rem-calc($cards-offset-body-margin-top-small);
    }
    // }

    // @if ($cards-body-margin-top-medium != 0) {
    @include breakpoint(medium only) {
      margin-top: rem-calc($cards-offset-body-margin-top-medium);
    }

    // > a:first-child::after {
    //   display: none;
    // }

    > a:first-child {
      background-size: 0;
    }
    // }
  }

  .b-cards__title {
    //position: absolute;
    //z-index: 11;
    // left: 0;
    // bottom: 0;
    display: inline-block;
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.17);
    background: $light-gray;
    padding: 1em 1.2em 0 0;
    margin-bottom: 0.45em; //1rem;
    color: $body-font-color;

    h3 {
      margin-bottom: 0;
    }
  }

  .cell.large-3 .b-cards__title h3 {
    font-size: rem-calc(20);
  }

  // .b-cards__body a::before {
  //   z-index: 11;
  // }

  // .b-cards__body > :first-child {
  //   padding-top: 0.7rem;
  //
  //   @include breakpoint(small only) {
  //     padding-top: 0.5rem; //0.8rem;
  //   }
  // }
}

section[class*="bg-white"],
section[class*="bg-transparent"] {
  .b-cards--offset .b-cards__title {
    background: white;
  }
}

// .b-cards--std .b-cards__title:not(a) {
//   padding: rem-calc(10) 0 0 0;
// }

.b-cards--gallery {
  margin-top: 2.5rem;

  @include breakpoint(small only) {
    margin-top: 1.5rem;
  }

  .b-cards__header {
    overflow: hidden;

    a::before {
      transition: $global-transition;
      position: absolute;
      z-index: 2;
      opacity: 0;
      left: calc(50% - 35px);
      top: calc(50% - 35px);
      content: "";
      width: rem-calc(70);
      height: rem-calc(70);
      background-image: url("../images/plus.svg");
      background-repeat: no-repeat;
    }

    a:hover::before {
      transition: $global-transition;
      opacity: 1;
    }
  }
}

.b-cards--offset,
.b-cards--topics {
  .b-cards__item {
    @include breakpoint(small only) {
      margin-bottom: 2.5rem !important;
    }
  }
}

/** Border-Style */
.b-cards--border .b-cards__header {
  border: 2px solid #f5f5f5;
}

/** Gradient-Style */
.b-cards--gradient li {
  background-image: linear-gradient(to bottom, transparent, #f5f5f7);
}

/** Shadow-Style */
.b-cards--shadow li {
  overflow: visible;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

/** topics cards */
.b-cards--topics {
  @include breakpoint(large up) {
    .b-cards__item {
      // margin-bottom: $cards-topics-margin-bottom !important;

      &.large-4 {
        h3 {
          font-size: rem-calc(26);
        }

        // .b-cards__body {
        //   margin-top: -2.8rem;
        // }
      }

      &.large-3 {
        h3 {
          font-size: rem-calc(22);
        }

        p {
          font-size: rem-calc(18);
        }

        // .b-cards__body {
        //   margin-top: -2.35rem;
        // }
      }
    }
  }
}

/** Content cards - needs standard card class */
.b-cards--cont {
  .b-cards__title {
    margin-bottom: 0.5em;
  }
}

/** Filter-Nav */
h2.h2-filter {
  margin-bottom: 1em !important;
  text-transform: none;
  font-size: rem-calc(22) !important;

  @include breakpoint(small only) {
    margin-bottom: 2em !important;
    font-size: rem-calc(18) !important;
  }

  @include breakpoint(medium only) {
    font-size: rem-calc(20) !important;
  }
}

.c-filter-wrapper > .grid-container-wrapper.has-padding {
  padding-top: 3rem !important;
}
