$cards-title-font-size-small: 22;
$cards-title-font-size-medium: 23;
$cards-title-font-size-large: 24;
$cards-title-font-margin-bottom: 0.6em; // 1em

.b-cards__img {
  display: block;
}

.b-cards__header a {
  &:hover .b-cards__img {
    transform: scale(1);
  }
}

.b-cards {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  h3 {
    margin: 0 !important;
  }

  p {
    margin-top: 0 !important;
  }

  a {
    color: $primary-color !important;
  }

  &.b-cards--std a {
    color: $body-font-color !important;
  }
}

h3.b-cards__title {
  margin-bottom: 1rem !important;

  @if ($cards-title-font-size-large != 0) {
    font-size: rem-calc($cards-title-font-size-large) !important;
  }

  @if ($cards-title-font-size-small != 0) {
    @include breakpoint(small only) {
      font-size: rem-calc($cards-title-font-size-small) !important;
    }
  }

  @if ($cards-title-font-size-medium != 0) {
    @include breakpoint(medium only) {
      font-size: rem-calc($cards-title-font-size-medium) !important;
    }
  }
}

.b-cards__body > p:not(.description) {
  margin-bottom: 0.62em !important;
}

.b-cards li {
  padding-left: 0;
}

.b-cards--gallery {
  margin: 0 !important;
}

.b-cards__item {
  figure {
    margin: 0;

    b {
      position: relative;
      display: block;
      max-width: 80%;
      margin-top: -24px;
      margin-bottom: 0.2rem;
      padding: 0.25rem 0.5rem 0.3rem 0;
      background: white;
    }
  }
}

.b-cards--offset .b-cards__title {
  padding: 1em 1.2em 0 0 !important;
  margin-bottom: 0.45em !important;
  color: $body-font-color !important;
  text-decoration: none !important;
}

/** Cards margin-x fix */
.acf-block-preview > ul.grid-margin-x > li {
  margin: 0 !important;
  padding: 20px;
}
