.b-cont-columns {
  @include breakpoint(small only) {
    .cell {
      padding: 0 1.2rem !important;
    }
  }

  .is-sidebar {
    @include breakpoint(small only) {
      margin-top: 1.5rem !important;
      text-align: center !important;
    }

    a.wp-block-button__link,
    .button {
      width: 100% !important;
      text-align: center !important;

      @include breakpoint(medium only) {
        font-size: 1rem !important;
      }
    }
  }
}

/** Columns margin-x fix in backend */
.acf-block-preview > .grid-margin-x > div {
  margin: 0 !important;
  padding: 20px;
}
