.b-cont-columns {
  margin-bottom: 1.6em;

  @include breakpoint(small only) {
    .cell {
      padding: 0 rem-calc(10);
    }
  }

  .is-sidebar {
    @include breakpoint(small only) {
      margin-top: 1.5rem;
      text-align: center;
    }

    a.wp-block-button__link,
    .button {
      width: 100%;

      @include breakpoint(medium only) {
        font-size: 1rem;
      }
    }

    /** product sidebar */
    img.product-rendering {
      margin-bottom: 2em;
    }
  }
}
