[data-type="cgb/block-t3-grid-block"],
[data-type="cgb/t3-container-block"], {
  border: 2px solid lightblue;
  border-radius: 8px;
}

.b-has-lsmb:not(.cell),
.b-has-lsmb.cell:last-child {
  margin-bottom: 0;
}
