$grid-container-offset-padding-bottom: 140;
$grid-container-offset-margin-top: -140;

.b-has-pt {
  padding-top: $paragraph-margin-bottom;

  @include breakpoint(small only) {
    padding-top: calc(#{$paragraph-margin-bottom} / 2);
  }
}

.b-has-offset-h + div .b-has-pt {
  padding-top: calc(#{$paragraph-margin-bottom} * 1.3);

  @include breakpoint(small only) {
    padding-top: calc(#{$paragraph-margin-bottom} * 1.3 / 2);
  }
}

.b-has-pt-large {
  padding-top: calc(2.5rem + #{$paragraph-margin-bottom});

  @include breakpoint(small only) {
    padding-top: calc((2.5rem + #{$paragraph-margin-bottom}) / 2);
  }
}

.b-has-lsmb:not(.cell),
.b-has-lsmb.cell:last-child {
  margin-bottom: $paragraph-margin-bottom !important;
}

/** Offset bottom - next grid container has margin-top offset */
.b-has-offset-b {
  padding-bottom: rem-calc($grid-container-offset-padding-bottom);

  @include breakpoint(small only) {
    padding-bottom: calc(#{rem-calc($grid-container-offset-padding-bottom)} * 0.5);
  }

  @include breakpoint(medium only) {
    padding-bottom: calc(#{rem-calc($grid-container-offset-padding-bottom)} * 0.75);
  }

  + [class*="wp-block-cgb-block-t3-grid"],
  + [class*="wp-block-cgb-t3-container-block"],
  + [class*="c-"] {
    margin-top: calc((#{rem-calc($grid-container-offset-margin-top)} * 0.9) + #{$paragraph-margin-bottom});

    @include breakpoint(small only) {
      margin-top: calc((#{rem-calc($grid-container-offset-margin-top)} * 0.4) + #{$paragraph-margin-bottom});
    }

    @include breakpoint(medium only) {
      margin-top: calc((#{rem-calc($grid-container-offset-margin-top)} * 0.65) + #{$paragraph-margin-bottom});
    }
  }
}

/** Offset Header */
.b-has-offset-h {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    background-color: white;
  }

  .cell h2 {
    display: inline-block;
    padding-bottom: 1.8rem;
    padding-right: 1em;
  }

  .cell :first-child {
    position: relative;
    display: inline-block;
    background: white;
  }
}

.b-has-offset-b .cell h2:last-child {
  margin-bottom: 0;
}

/** fix left padding of first grid-containers (headings) */
@include breakpoint(small only) {
  .b-has-offset-h .cell {
    padding-left: rem-calc(10);
  }

  section .wp-block-cgb-block-t3-grid-block:first-child > .grid-container > .grid-x > .cell {
    padding-left: rem-calc(10);
  }

  .c-fh__wrapper,
  .l-mob-plr {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }

  .wp-block-cgb-t3-container-block:not(.b-has-offset-h) > .grid-container > .grid-x:not([class*="b-"]) > .cell,
  .wp-block-cgb-t3-container-block:not(.b-has-offset-h) > .grid-container-wrapper > .grid-container > .grid-x:not([class*="b-"]) > .cell {
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > ul.std-list,
    > p {
      margin-left: rem-calc(10);
      margin-right: rem-calc(10);
    }
  }
}
