$iconlist-icon-width-small: 60;
$iconlist-icon-width-medium: 90;
$iconlist-icon-width-large: 120;

$iconlist-icon-font-size-small: 50;
$iconlist-icon-font-size-medium: 64;
$iconlist-icon-font-size-large: 80;

.b-iconlist {
  margin-top: rem-calc(32);
  margin-bottom: 0;

  @include breakpoint(medium down) {
    justify-content: flex-start;
  }

  @include breakpoint(large up) {
    margin-top: rem-calc(48);
    // justify-content: space-between;
  }
}

.b-iconlist__icon {
  display: inline-block;
  transition: $global-transition;
  width: rem-calc($iconlist-icon-width-large);
  height: rem-calc($iconlist-icon-width-large);
  background-color: white;
  border-radius: 100%;
  margin-bottom: 1.5rem;
  overflow: hidden;

  &::before {
    line-height: rem-calc($iconlist-icon-width-large);
    font-size: rem-calc($iconlist-icon-font-size-large);
  }

  @include breakpoint(small only) {
    width: rem-calc($iconlist-icon-width-small);
    height: rem-calc($iconlist-icon-width-small);

    &::before {
      line-height: rem-calc($iconlist-icon-width-small);
      font-size: rem-calc($iconlist-icon-font-size-small);
    }
  }

  @include breakpoint(medium only) {
    width: rem-calc($iconlist-icon-width-medium);
    height: rem-calc($iconlist-icon-width-medium);

    &::before {
      line-height: rem-calc($iconlist-icon-width-medium);
      font-size: rem-calc($iconlist-icon-font-size-medium);
    }
  }

  img {
    filter: grayscale(100%);
    display: inline-block;
    border-radius: 100%;
    width: 80%;
    height: 80%;
    margin-top: 10%;

    // @include breakpoint(small only) {
    //   width: 80%;
    //   height: 80%;
    //   margin-top: 10%;
    // }

    // @include breakpoint(medium only) {
    //   width: rem-calc($iconlist-icon-width-medium - 16);
    //   margin-top: 8px;
    // }
  }

  // &:hover {
  //   background-color: $secondary-color;
  //
  //   &::before {
  //     color: white;
  //   }
  // }
}

section.is-style-bg-white .b-iconlist__icon {
  background-color: $light-gray;
}

.b-iconlist__body {
  padding: 0 rem-calc(10);

  h3 {
    font-size: rem-calc(22);
    text-transform: uppercase;

    @include breakpoint(small only) {
      font-size: rem-calc(18);
    }

    @include breakpoint(medium only) {
      font-size: rem-calc(16);
    }
  }

  p {
    font-size: 1em;
  }

  :last-child {
    margin-bottom: 0;
  }
}

/** Iconlist links */
a.b-iconlist__link {
  display: block;
  font-weight: 300;

  p {
    color: $body-font-color;
  }

  h3 {
    @include animatedLinkStyle($bottom: -3);

    position: relative;
    display: inline-block;
  }

  .b-iconlist__icon::before {
    transition: $global-transition;
    color: $primary-color;
  }

  &::after {
    display: none;
  }

  &:hover {
    font-weight: inherit;

    h3 {
      @include animatedLinkStyle($part: "hover");
    }

    .b-iconlist__icon {
      transition: $global-transition;
      background-color: $primary-color;

      &::before {
        color: white;
      }
    }
  }
}

/** Large font-size for larg column sizes */
.b-iconlist__item {
  text-align: center;
  margin: rem-calc(15) 0;

  @include breakpoint(large up) {
    &.large-3,
    &.large-4,
    &.large-6 {
      .b-iconlist__body p {
        font-size: rem-calc($body-font-size-large);
      }
    }
  }
}

/** Iconlist Advantages */
.b-iconlist--adv {
  a.b-iconlist__link {
    .b-iconlist__icon {
      &.img {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          z-index: 2;
          width: 80%;
          height: 80%;
          left: 10%;
          top: 10%;
          border: 0;
        }
      }

      &::before {
        border: 7px solid $light-gray;
        color: $body-font-color;
      }
    }

    &:hover .b-iconlist__icon {
      background: white;

      &::before {
        border: 7px solid $primary-color;
        background: $primary-color;
        color: $white;
      }

      &.img::before {
        background: $cards-img-hover-color;
        border: 0;
      }
    }
  }

  .b-iconlist__icon {
    background: $light-gray;

    &::before {
      border-radius: 100%;
    }

    @include breakpoint(small only) {
      width: rem-calc(80);
      height: rem-calc(80);

      &::before {
        line-height: rem-calc(80);
        font-size: rem-calc(65);
      }
    }
  }

  .b-iconlist__body {
    padding: 0 rem-calc(15);

    @include breakpoint(small only) {
      padding: 0 rem-calc(10);
    }
  }

  @include breakpoint(small only) {
    margin-top: -2rem;
  }

  @include breakpoint(medium only) {
    margin-top: 0;
  }

  @include breakpoint(large up) {
    margin-top: 1rem;
  }
}
