.b-iconlist__body {
  h3 {
    font-size: rem-calc(22) !important;

    @include breakpoint(small only) {
      font-size: rem-calc(18) !important;
    }

    @include breakpoint(medium only) {
      font-size: rem-calc(16) !important;
    }
  }

  p {
    font-size: 1em !important;
  }
}
