[class*="primary-color"] {
  color: $primary-color;
}

[class*="accent-color"] {
  color: $secondary-color;
}

[class*="white-color"] {
  color: white;
}

[class*="dark-gray"] {
  color: $dark-gray;
}

[class*="light-gray"] {
  color: $light-gray;
}

[class*="bg-white"] {
  color: $body-font-color;
}

main > section,
main .wp-block-cgb-block-t3-section-block,
main .wp-block-cgb-t3-section-block,
main + footer {
  @include breakpoint(small) {
    padding-top: rem-calc($section-padding-top-small);
    padding-bottom: rem-calc($section-padding-bottom-small);
  }

  @include breakpoint(medium) {
    padding-top: rem-calc($section-padding-top-medium);
    padding-bottom: rem-calc($section-padding-bottom-medium);
  }

  @include breakpoint(large up) {
    padding-top: rem-calc($section-padding-top-large);
    padding-bottom: rem-calc($section-padding-bottom-large);
  }
}

main {
  section,
  .wp-block-cgb-block-t3-section-block,
  .wp-block-cgb-t3-section-block {
    position: relative;
    background: $light-gray;
    color: $body-font-color;
    margin: 0 auto;
    max-width: 100%;

    &.b-pt-none {
      padding-top: 0;
    }

    &.b-pb-none {
      padding-bottom: 0;
    }

    &.b-pt-xsmall {
      @include breakpoint(small) {
        padding-top: calc(#{rem-calc($section-padding-top-small)} / 3);
      }

      @include breakpoint(medium) {
        padding-top: calc(#{rem-calc($section-padding-top-medium)} / 3);
      }

      @include breakpoint(large up) {
        padding-top: calc(#{rem-calc($section-padding-top-large)} / 3);
      }
    }

    &.b-pt-small {
      @include breakpoint(small) {
        padding-top: calc(#{rem-calc($section-padding-top-small)} / 2);
      }

      @include breakpoint(medium) {
        padding-top: calc(#{rem-calc($section-padding-top-medium)} / 2);
      }

      @include breakpoint(large up) {
        padding-top: calc(#{rem-calc($section-padding-top-large)} / 2);
      }
    }

    &.b-pt-medium {
      @include breakpoint(small) {
        padding-top: calc(#{rem-calc($section-padding-top-small)} / 1.55);
      }

      @include breakpoint(medium) {
        padding-top: calc(#{rem-calc($section-padding-top-medium)} / 1.55);
      }

      @include breakpoint(large up) {
        padding-top: calc(#{rem-calc($section-padding-top-large)} / 1.55);
      }
    }

    &.b-pb-small {
      @include breakpoint(small) {
        padding-bottom: calc(#{rem-calc($section-padding-bottom-large)} / 2);
      }

      @include breakpoint(medium) {
        padding-bottom: calc(#{rem-calc($section-padding-bottom-medium)} / 2);
      }

      @include breakpoint(large up) {
        padding-bottom: calc(#{rem-calc($section-padding-bottom-large)} / 2);
      }
    }

    &.b-pt-large {
      @include breakpoint(small) {
        padding-top: calc(#{rem-calc($section-padding-top-small)} * 1.5);
      }

      @include breakpoint(medium) {
        padding-top: calc(#{rem-calc($section-padding-top-medium)} * 1.5);
      }

      @include breakpoint(large up) {
        padding-top: calc(#{rem-calc($section-padding-top-large)} * 1.5);
      }
    }

    &.b-pb-large {
      @include breakpoint(small) {
        padding-bottom: calc(#{rem-calc($section-padding-top-large)} * 1.5);
      }

      @include breakpoint(medium) {
        padding-bottom: calc(#{rem-calc($section-padding-top-medium)} * 1.5);
      }

      @include breakpoint(large up) {
        padding-bottom: calc(#{rem-calc($section-padding-top-large)} * 1.5);
      }
    }

    .cell {
      > :last-child {
        margin-bottom: 0;
      }
    }

    &.is-style-bg-white {
      background: white;
    }

    &.is-style-bg-transparent {
      background: transparent;
    }
  }
}

[class*="-bg-primary"] {
  background-color: $primary-color;

  * {
    color: white;
  }
}

[class*="-bg-accent"] {
  background-color: $secondary-color;

  * {
    color: white;
  }
}

.grid-container-wrapper.has-padding {
  @include breakpoint(small) {
    padding-top: rem-calc($section-padding-top-small);
  }

  @include breakpoint(medium) {
    padding-top: rem-calc($section-padding-top-medium);
  }

  @include breakpoint(large up) {
    padding-top: rem-calc($section-padding-top-large);
  }

  &.b-pt-none {
    padding-top: 0;
  }

  &.b-pt-small {
    @include breakpoint(small) {
      padding-top: calc(#{rem-calc($section-padding-top-small)} / 2);
    }

    @include breakpoint(medium) {
      padding-top: calc(#{rem-calc($section-padding-top-medium)} / 2);
    }

    @include breakpoint(large up) {
      padding-top: calc(#{rem-calc($section-padding-top-large)} / 2);
    }
  }

  &.b-pt-large {
    @include breakpoint(small) {
      padding-top: calc(#{rem-calc($section-padding-top-small)} * 1.5);
    }

    @include breakpoint(medium) {
      padding-top: calc(#{rem-calc($section-padding-top-medium)} * 1.5);
    }

    @include breakpoint(large up) {
      padding-top: calc(#{rem-calc($section-padding-top-large)} * 1.5);
    }
  }
}

/** Offset for first section - title offset */
.l-sec--title {
  margin-top: rem-calc(-96) !important;

  h1,
  h2 {
    margin-left: -1.6rem;
    margin-right: 0;
    margin-bottom: 0.7em !important;
    padding: 2rem 1.6rem 0 1.6rem;
    background-color: white;
  }

  @include breakpoint(medium only) {
    margin-top: rem-calc(-94) !important;

    h1,
    h2 {
      margin-left: -1.6rem;
      margin-right: 0;
      padding: 1.4rem 1.6rem 0 1.6rem;
      background-color: white;
    }
  }

  @include breakpoint(small only) {
    margin-top: rem-calc((map-deep-get($header-styles, small, h1, font-size) + 18) * -1) !important;

    h1,
    h2 {
      padding: 1.2rem 1.2rem 0 1.2rem;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

body.home .l-sec--title {
  @include breakpoint(large up) {
    margin-top: rem-calc(-108) !important;
  }
}

.l-sec--brdr-b {
  border-bottom: rem-calc(18) solid white;
}
