// /** Fixing editor overflow bug with t3-theme */
// .block-editor-editor-skeleton__body {
//   overflow: initial !important;
// }
.wp-block-cgb-block-t3-section-block,
.wp-block-cgb-t3-section-block {
  padding: rem-calc(50) 0;
  overflow: hidden;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.12);
}

.editor-post-title__block .editor-post-title__input,
.wp-block {
  max-width: 1280px;
  font-family: "Roboto", sans-serif;
}

section,
.wp-block-cgb-block-t3-section-block,
.wp-block-cgb-t3-section-block,
.grid-container-wrapper {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.l-sec--title {
  margin-top: 0 !important;
}
