// --- Masonry ---
$masonry-std-item-padding: 0;
$masonry-std-item-bg: transparent;
$masonry-std-gap-width: 2%;
$masonry-std-cols: 2;
$grid-gap-vertical: 0; //rem-calc(26);

.masonry {
  z-index: 2;

  @include breakpoint(small only) {
    .masonry__sizer,
    .masonry__item {
      width: 100%;
    }

    .masonry__item {
      margin-bottom: $grid-gap-vertical;
    }

    .masonry__gutter-sizer {
      width: 0%;
    }
  }

  @include breakpoint(medium up) {
    .masonry__sizer,
    .masonry__item {
      width: 48.5%;
    }

    .masonry__gutter-sizer {
      width: 3%;
    }
  }

  .masonry__item {
    padding: $masonry-std-item-padding;
    box-sizing: border-box;
    background-color: $masonry-std-item-bg;
    margin-bottom: rem-calc(56);

    @include breakpoint(small only) {
      margin-bottom: 2rem;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .masonry__item-wrapper {
      width: 100%;
      //display: flex;
      //justify-content: space-between;

      > div {
        width: 48%;
        float: left;

        &:first-child {
          padding-top: 20%;
        }
      }

      // .masonry__item-txt {
      //   //margin-bottom: 20%;
      //   padding: rem-calc(40) rem-calc(15) rem-calc(30);
      //   background-color: rgba($primary-color, 0.72);
      //   color: white;
      //   margin-left: 4%;
      // }
    }
  }
}
