$set-special-body-font-styles: 1;

@if ($set-special-body-font-styles == 1) {
  p,
  ul[class*="is-style-"] li,
  .rich-text.block-editor-rich-text__editable li {
    font-weight: 300;

    @include breakpoint(small) {
      font-size: rem-calc($body-font-size-small);
    }

    @include breakpoint(medium) {
      font-size: rem-calc($body-font-size-medium);
    }

    @include breakpoint(large up) {
      font-size: rem-calc($body-font-size-large);
    }
  }
}

p,
span {
  &.teaser {
    font-weight: 300;
    font-size: rem-calc(23) !important;

    @include breakpoint(small only) {
      font-size: rem-calc(19) !important;
    }

    @include breakpoint(medium only) {
      font-size: rem-calc(22) !important;
    }
  }

  &.product-teaser,
  &.h2asteaser {
    // margin-bottom: 1em !important;
    font-weight: 400;
    font-size: rem-calc(32);
    line-height: 1.25em;
    text-transform: none;

    @include breakpoint(small only) {
      font-size: rem-calc(24);
    }

    @include breakpoint(medium only) {
      font-size: rem-calc(28);
    }
  }
}

/** Gutenberg/ACF full width align fix */
div[data-type="cgb/t3-section-block"][data-align="full"] div[data-type*="acf"][data-align="full"] {
  margin-left: 0;
  margin-right: 0;
}
