@import "../common/settings";
@import "../common/variables";
@import "../common/mixins";

$sh-textlink-margin-bottom: rem-calc(10);
$sh-body-padding: rem-calc(16);
$sh-body-border-radius: rem-calc(8);

.wp-block-t3-showhide-block {
  margin-bottom: $global-margin;

  &[class*="bg-"] {
    .b-showhide__body {
      padding: $sh-body-padding;
      border-radius: $sh-body-border-radius;
    }
  }

  &.icon {
    padding-bottom: calc(#{$sh-textlink-margin-bottom} + 22px);

    .b-showhide__ctrls {
      margin-bottom: -22px;

      &::before {
        content: "";
        border-top: 1px solid $light-gray;
        position: absolute;
        left: 0;
        top: 21px;
        width: 100%;
      }

      &.has-label::before {
        top: 49px;
      }
    }

    .b-showhide__body {
      padding-top: calc(#{$sh-body-padding} + 22px);
    }

    &[class*="bg-"] .b-showhide__ctrls::before {
      left: 8px;
      width: calc(100% - 16px);
    }
  }

  &.bg-primary {
    .b-showhide__link.icon {
      color: $primary-color;
      border: 2px solid $primary-color;

      &:hover {
        color: $body-font-color;
      }
    }

    .b-showhide__body {
      color: white;
      background-color: $primary-color;
    }
  }

  &.bg-secondary {
    .b-showhide__link.icon {
      border: 2px solid $secondary-color;
    }

    .b-showhide__body {
      color: white;
      background-color: $secondary-color;
    }
  }

  &.bg-gray {
    .b-showhide__link.icon {
      border: 2px solid $body-font-color;
    }

    .b-showhide__body {
      background-color: $light-gray;
    }
  }
}

.b-showhide__label {
  display: inline-block;
  width: 100%;
  height: 28px;
  line-height: 28px;
}

.b-showhide__ctrls {
  position: relative;
  margin-bottom: $sh-textlink-margin-bottom;
}

.b-showhide__link {
  font-weight: 500;

  &.icon {
    display: inline-block;
    width: 44px;
    height: 44px;
    border: 2px solid $body-font-color;
    border-radius: 22px;
    background: none;
    background-color: white;
    color: $body-font-color;
    line-height: 44px;

    &:hover {
      transition: $global-transition;
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    }
  }

  .icon-plus {
    transition: $global-transition;
    transform: rotate(0deg);
    display: inline-block;
  }

  &.is-active {
    .icon-plus {
      transition: $global-transition;
      transform: rotate(225deg);
    }
  }

  &:focus {
    background-size: 100% 5px;

    &:hover {
      background-size: 0 5px;
    }
  }
}
//
// .b-showhide__body {
//   &.bg-primary {
//     color: white;
//     background-color: $primary-color;
//
//     .b-showhide__link.icon {
//       border: 2px solid $primary-color;
//     }
//   }
//
//   &.bg-secondary {
//     color: white;
//     background-color: $secondary-color;
//
//     .b-showhide__link.icon {
//       border: 2px solid $secondary-color;
//     }
//   }
//
//   &.bg-gray {
//     background-color: $light-gray;
//
//     .b-showhide__link.icon {
//       border: 2px solid $body-font-color;
//     }
//   }
//
//   &[class*="bg-"] {
//     padding: $sh-body-padding;
//     border-radius: $sh-body-border-radius;
//   }
// }
//
// .b-showhide__body {
//
// }
